<div ng-include="'/wsplanning/templates/pages/workdetail/page-header.html'"></div>

<div ng-include="'/wsplanning/templates/pages/workdetail/fragments/vehicle.html'"></div>
<div ng-include="'/wsplanning/templates/pages/workdetail/fragments/customer.html'"></div>
<div ng-include="'/wsplanning/templates/pages/workdetail/fragments/contract.html'"></div>

<div class="panel panel-flat">
    <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-solid deviceTabs">
            <li ng-class="{active: tabActive == 'header'}"
                ng-click="changeTab('header', '')">
                <a data-target="#header" data-toggle="tab">Header</a>
            </li>

            <li ng-class="{active: tabActive == 'job'}"
                ng-click="changeTab('job', '')">
                <a data-target="#job" data-toggle="tab">Job</a>
            </li>
        </ul>

        <div class="tab-content">
            <div ng-class="{active: tabActive == 'header'}" class="tab-pane" id="tab-header">
                <div ng-include="'/wsplanning/templates/pages/workdetail/tabs/header.html'"></div>
            </div>
            <div ng-class="{active: tabActive == 'job'}" class="tab-pane" id="tab-job">
                <div ng-include="'/wsplanning/templates/pages/workdetail/tabs/job.html'"></div>
            </div>
        </div>

    </div>
</div>