<div ng-include="'/wsplanning/templates/pages/workdetail/page-header.html'"></div>

<div class="panel panel-flat">
    <div class="tabbable">
        <ul class="nav nav-tabs nav-tabs-solid deviceTabs">
            <li ng-class="{active: tabActive == 'header'}"
                ng-click="changeTab('header', '')">
                <a data-target="#header" data-toggle="tab">Header</a>
            </li>

            <li ng-class="{active: tabActive == 'job'}"
                ng-click="changeTab('job', '')">
                <a data-target="#job" data-toggle="tab">Job</a>
            </li>

            <li ng-class="{active: tabActive == 'planning'}"
                ng-click="changeTab('planning', '')">
                <a data-target="#planning" data-toggle="planning">Planning</a>
            </li>
            <li ng-class="{active: tabActive == 'checkin'}"
                ng-click="changeTab('checkin', '')">
                <a data-target="#checkin" data-toggle="checkin">CheckIn</a>
            </li>
        </ul>

        <div class="tab-content">
            <div ng-class="{active: tabActive == 'header'}" class="tab-pane" id="tab-header">
                <div ng-include="'/wsplanning/templates/pages/workdetail/tabs/header.html'"></div>
            </div>
            <div ng-class="{active: tabActive == 'job'}" class="tab-pane" id="tab-job">
                <div ng-include="'/wsplanning/templates/pages/workdetail/tabs/job.html'"></div>
            </div>
            <div ng-class="{active: tabActive == 'planning'}" class="tab-pane" id="tab-planning">
                <div ng-include="'/wsplanning/templates/pages/workdetail/tabs/planning.html'"></div>
            </div>
            <div ng-class="{active: tabActive == 'checkin'}" class="tab-pane" id="tab-checkin">
                <div ng-include="'/wsplanning/templates/pages/workdetail/tabs/checkin.html'"></div>
            </div>
        </div>

    </div>
</div>