<!-- Panel search -->
<div class="panel panel-flat">
    <div class="panel-heading">
        <h5 class="panel-title"><span>{{'search' | translate}}</span></h5>
        <div class="heading-elements">
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body">
        <form class="form-horizontal form-search row">

            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label col-md-4">{{'Name' | translate}}</label>
                    <div class="col-md-8">
                        <input type="text" class="form-control" ng-model="searchValue" placeholder="Search name"
                               code="13" dl-key-code="doSearch();">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <button type="button" ng-click="doSearch()" class="btn btn-icon btn-default"><i
                        class="icon-search4"></i></button>
            </div>

        </form>
    </div>
</div>