<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Add js,css here -->
</head>

<body>

    <!-- Main sidebar -->
    <div th:fragment="sitebar" class="sidebar sidebar-main">
        <div class="sidebar-content">
            <!-- Main navigation -->
            <div class="sidebar-category sidebar-category-visible">
                <div class="category-content no-padding">
                    <ul class="navigation navigation-main navigation-accordion" >
                        <!-- <li ng-class="{active: currentState == 'app.main.unscheduledwork'}" ui-sref-active="active"><a
                                ng-click="unscheduledwork()"><i class="icon icon-equalizer"></i> <span
                                    th:text="#{menu.unscheduledWork}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.worksub'}" ui-sref-active="active"><a
                                ng-click="worksub()"><i class="icon icon-user-plus"></i> <span
                                    th:text="#{menu.worksub}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.todaywork'}" ui-sref-active="active"><a
                                ng-click="todayWork()"><i class="icon icon-history"></i> <span
                                    th:text="#{menu.todayWork}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.allwork'}" ui-sref-active="active"><a
                                ng-click="allwork()"><i class="icon icon-wrench"></i> <span
                                    th:text="#{menu.allWork}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.workmot'}" ui-sref-active="active"><a
                                ng-click="workmot()"><i class="icon icon-section"></i> <span
                                    th:text="#{menu.workmot}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.worktire'}" ui-sref-active="active"><a
                                ng-click="worktire()"><i class="icon icon-svg"></i> <span
                                    th:text="#{menu.worktire}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.workbo'}" ui-sref-active="active"><a
                                ng-click="workbo()"><i class="icon icon-cart"></i> <span
                                    th:text="#{menu.workbo}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.postponedwork'}" ui-sref-active="active"><a
                                ng-click="postponedwork()"><i class="icon icon-alarm"></i> <span
                                    th:text="#{menu.postponedwork}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.tasklist'}" ui-sref-active="active"><a
                                ng-click="tasklist()"><i class="icon icon-list2"></i> <span
                                    th:text="#{menu.tasklist}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.calendarview'}" ui-sref-active="active"><a
                                ng-click="calendarview()"><i class="icon icon-calendar"></i> <span
                                    th:text="#{menu.calendar}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.stamping'}" ui-sref-active="active"><a
                                ng-click="stampingMenu()"><i class="icon icon-barcode2"></i> <span
                                    th:text="#{menu.stamping}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.offer'}" ui-sref-active="active"><a
                                ng-click="offer()"><i class="icon icon-coin-dollar"></i> <span
                                    th:text="#{menu.offer}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.replacementvehicle'}" ui-sref-active="active">
                            <a ng-click="replacementvehicle()"><i class="icon icon-car2"></i> <span
                                    th:text="#{menu.replacementvehicle}"></span></a></li>
                        <li ng-class="{active: currentState == 'app.main.callcenter'}" ui-sref-active="active"><a
                                ng-click="gotoCallCenter()"><i class="icon icon-phone"></i> <span
                                    th:text="#{menu.callcenter}"></span></a></li> -->
                        <!-- /main -->
                        <li ng-repeat="item in lstmenu | orderBy : 'ordinalNumber'" ng-if="item.value == 'true'" ng-class="{active: currentState == item.route}" ui-sref-active="active" ><a
                               ng-click="getRouter(item.route)"><i ng-class="item.icon"></i> <span>{{ item.name | translate}}</span></a></li>
                    </ul>
                </div>
            </div>
            <!-- /main navigation -->

        </div>
    </div>
    <!-- /main sidebar -->
</body>

</html>