<div ng-include="'/wsplanning/templates/pages/notification/page-header.html'"></div>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <div ng-include="'/wsplanning/templates/pages/notification/unreadNotification.html'"></div>

            <div ng-include="'/wsplanning/templates/pages/notification/recentNotification.html'"></div>

        </div>
    </div>
    <!-- /page content -->
</div>
<!-- /page container -->