<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>WSPLANNING - Mechanic</title>
    <!-- Theme JS files -->
    <script type="text/javascript" src="/wsplanning/mechanic.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/mechanic-add.controller.js"></script>
    <!-- /theme JS files -->

    <style>
        .tableLabel tr td:first-child {
            white-space: nowrap;
            padding-right: 100px;
        }
    </style>
</head>
<body ng-controller="MechanicController">
<th:block layout:fragment="content">

    <!-- Page header -->
    <div th:replace="mechanic/fragments/page-header::page-header"></div>
    <!-- /page header-->

    <div class="content pt-0">

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-header header-elements-sm-inline">
                        <h6 class="card-title">Marketing campaigns</h6>
                        <div class="header-elements">
                            <span class="badge bg-success badge-pill">28 active</span>
                            <div class="list-icons ml-3">
                                <div class="list-icons-item dropdown">
                                    <a href="#" class="list-icons-item dropdown-toggle" data-toggle="dropdown"
                                       aria-expanded="false"><i class="icon-menu7"></i></a>
                                    <div class="dropdown-menu" x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 16px, 0px);">
                                        <a href="#" class="dropdown-item"><i class="icon-sync"></i> Update data</a>
                                        <a href="#" class="dropdown-item"><i class="icon-list-unordered"></i> Detailed
                                            log</a>
                                        <a href="#" class="dropdown-item"><i class="icon-pie5"></i> Statistics</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="#" class="dropdown-item"><i class="icon-cross3"></i> Clear list</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form class="form-inline">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="col-form-label col-md-4" th:text="#{mechanic.name}"></label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" ng-model="searchValue" th:placeholder="#{placeholder.text}"
                                               code="13" dl-key-code="doSearch();">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <button type="button" ng-click="doSearch()" class="btn btn-icon btn-default"><i class="icon-search4"></i></button>
                            </div>

                        </form>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-striped table-hover"
                               style="margin-top: 20px">
                            <!--HEADER-->
                            <thead>
                            <tr>
                                <th nowrap style="padding-right: 0px; width: 80px">
                                    <div class="btn-group">
                                        <input type="checkbox" class="checkAllTable" ng-change="onCheckbox()"
                                               ng-model="checklistTable.checkAll">
                                    </div>
                                    <div class="btn-group">
                                        <a class="btn btn-xs btn-link dropdown-toggle" data-toggle="dropdown"
                                           th:title="#{common.search.btn.more}"><span class="caret"></span></a>
                                        <ul class="dropdown-menu dropdown-menu-left">
                                            <li>
                                                <button class="btn btn-link btn-icon" ng-click="onDeletes()"
                                                        ng-disabled="checklistTable.selected.length == 0">
                                                    <i class="icon-trash position-left"></i> <span
                                                        th:text="#{common.btn.delete}"></span></button>
                                            </li>
                                        </ul>
                                    </div>
                                </th>
                                <th th:text="#{mechanic.deptId}"></th>
                                <th th:text="#{mechanic.email}"></th>
                                <th th:text="#{mechanic.name}"></th>
                                <th th:text="#{mechanic.phone}"></th>
                                <th th:text="#{mechanic.resType}"></th>
                                <th th:text="#{mechanic.shiftId}"></th>
                                <th th:text="#{mechanic.shortName}"></th>
                                <th th:text="#{mechanic.siteId}"></th>
                                <th th:text="#{mechanic.smanId}"></th>
                                <th th:text="#{mechanic.subSys}"></th>
                                <th style="width: 100px;" class="text-right" th:text="#{user.search.action}"></th>
                            </tr>
                            </thead>

                            <!--BODY-->
                            <tbody>
                            <tr ng-repeat="item in lstData">
                                <td><input type="checkbox" checklist-model="checklistTable.selected"
                                           checklist-value="item.id"></td>
                                <td>{{item.DeptId}}</td>
                                <td>{{item.Email}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.Phone}}</td>
                                <td>{{item.ResType}}</td>
                                <td>{{item.ShiftId}}</td>
                                <td>{{item.ShortName}}</td>
                                <td>{{item.SiteId}}</td>
                                <td>{{item.SmanId}}</td>
                                <td>{{item.SubSys}}</td>
                                <td class="text-right text-nowrap">
                                    <ul class="icons-list">
                                        <li>
                                            <a ng-click="editItem(item)" th:title="#{subscriber.btn.edit}">
                                                <span class="icon-pencil7"></span>
                                            </a>
                                        </li>
                                        <li>
                                            <a ng-click="onDelete(item.id)" th:title="#{common.btn.delete}">
                                                <span class="icon-trash"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul class="pagination-flat pagination-rounded"
                        uib-pagination
                        total-items="totalElements"
                        items-per-page="limit"
                        max-size="2"
                        ng-model="page"
                        boundary-link-numbers="2" force-ellipses="true" rotate="true"
                        previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;"
                        last-text="&raquo;"></ul>

                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>
