<div ng-include="'/wsplanning/templates/pages/callcenter/page-header.html'"></div>


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <div ng-include="'/wsplanning/templates/pages/callcenter/activeCall.html'"></div>

            <div ng-include="'/wsplanning/templates/pages/callcenter/recentCall.html'"></div>


        </div>

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->