<!--SEARCH-->
<div class="panel panel-white" ng-controller="RecentCallCtrl">
    <div class="panel-heading" ng-click="toogleRecentCall()">
        <h6 class="panel-title">
            <i class="icon-search4 position-left" ng-click="toogleRecentCall()"></i>
            <small>{{ 'recentCall' | translate }}</small>
        </h6>
        <div class="heading-elements">
            <ul class="icons-list">
                <li ng-click="toogleRecentCall()"><a ng-class="{'rotate-180': isShow == true}"></a></li>
            </ul>
        </div>
    </div>

    <div class="panel-body" ng-show="isShow">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                <tr class="d-flex">
                    <th colspan="5" class="text-center col-xs-1">{{'call' | translate }}</th>
                    <th colspan="3" class="text-center col-xs-1">{{'Customer' | translate }}</th>
                    <th colspan="4" class="text-center col-xs-1">{{'Vehicle' | translate }}</th>
                </tr>
                <tr class="d-flex">
                    <th class="text-center col-xs-1">{{'event' | translate }}</th>
                    <th class="text-center col-xs-1">{{'Created' | translate }}</th>
                    <th class="text-center col-xs-1">{{'CallerId' | translate }}</th>
                    <th class="text-center col-xs-1">{{'Trunk' | translate }}</th>
                    <th class="text-center col-xs-1">{{'db' | translate }}</th>
                    <th class="text-center col-xs-1">{{'CustomerName' | translate }}</th>
                    <th class="text-center col-xs-1">{{'Email' | translate }}</th>
                    <th class="text-center col-xs-1">{{'PostalCode' | translate }}</th>
                    <th class="text-center col-xs-1">{{'Make' | translate }}</th>
                    <th class="text-center col-xs-1">{{'NextMOTDate' | translate }}</th>
                    <th class="text-center col-xs-1">{{'WarrantyInfo' | translate }}</th>
                    <th class="text-center col-xs-1">{{'LicenseNo' | translate }}</th>
                </tr>
                </thead>

                <!--BODY-->
                <tbody>
                <tr ng-repeat-start="(key, item) in lstData" ng-dblclick="createTask(item)" ios-dblclick="createTask(item)">
                    <td rowspan="{{item.CallerVehicles.length}}">{{item.Event}}</td>
                    <td rowspan="{{item.CallerVehicles.length}}">{{item.Created}}</td>
                    <td rowspan="{{item.CallerVehicles.length}}">{{item.CallerId}}</td>
                    <td rowspan="{{item.CallerVehicles.length}}">{{item.Trunk}}</td>
                    <td rowspan="{{item.CallerVehicles.length}}">{{item.Db}}</td>
                    <td rowspan="{{item.CallerVehicles.length}}">{{item.CallerCustomer.CustomerName}}</td>
                    <td rowspan="{{item.CallerVehicles.length}}">{{item.CallerCustomer.Email}}</td>
                    <td rowspan="{{item.CallerVehicles.length}}">{{item.CallerCustomer.PostalCode}}</td>
                    <td>{{item.CallerVehicles[0].Make}}</td>
                    <td>{{item.CallerVehicles[0].NextMOTDate}}</td>
                    <td>{{item.CallerVehicles[0].WarrantyInfo}}</td>
                    <td>
                        <button class="button btn-default" ng-click="createTask(item,item.CallerVehicles[0])" title="{{'createTask' | translate }}">
                            <span ng-if="item.CallerVehicles[0].LicenseNo">{{item.CallerVehicles[0].LicenseNo}}</span>
                            <span ng-if="!item.CallerVehicles[0].LicenseNo">....</span>
                        </button>
                    </td>
                </tr>
                <tr ng-repeat-end ng-repeat="vehicleItem in item.CallerVehicles.slice(1)">
                    <td>{{vehicleItem.Make}}</td>
                    <td>{{vehicleItem.NextMOTDate}}</td>
                    <td>{{vehicleItem.WarrantyInfo}}</td>
                    <td>
                        <button class="button btn-default" ng-click="createTask(item,vehicleItem)" title="{{'createTask' | translate }}">
                            <span ng-if="vehicleItem.LicenseNo">{{vehicleItem.LicenseNo}}</span>
                            <span ng-if="!vehicleItem.LicenseNo">....</span>
                        </button>
                    </td>
                </tr>
                <tr ng-if="isNoData || !lstData || lstData.length <= 0" class="active">
                    <td colspan="20" class="text-center">{{ 'commonNoResult' | translate }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="panel-footer text-right" style="padding-right: 25px;">

            <!-- Paging elements -->
            <form class="form-inline formPaging formValidate">
                <div class="form-group">
                    {{totalElements | number}} <span class="text-lowercase">{{ 'item' | translate }}</span>
                </div>
                <div class="form-group" style="border-left: 1px solid #ddd">
                    <ul class="pagination-flat pagination-rounded" uib-pagination total-items="totalElements"
                        items-per-page="limit" max-size="2" ng-model="page" boundary-links="true"
                        boundary-link-numbers="true" force-ellipses="true" rotate="true" previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </div>
                <div class="form-group">
                    <input type="number" name="page" ng-model="pageGo" placeholder="{{ 'page' | translate }}"
                           class="form-control validatePositiveInteger" min="1" max="{{(totalElements / limit) | ceil}}"
                           style="width: 55px">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">{{ 'go' | translate }}</button>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="limit" ng-change="changeLimit()" convert-to-number>
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <span>{{ 'limit' | translate }}</span>
                </div>
            </form>
            <!-- /paging element -->

        </div>
    </div>
</div>
<!--SEARCH-->