<link href="/sign.css" rel="stylesheet" type="text/css">
<!-- Page container -->
<div class="page-container" ng-controller="CheckInCtrl">
    <!-- Page content -->
    <div class="page-content">
        <!-- Main content -->
        <div class="content-wrapper">
            <!-- Panel content -->
            <div class="panel panel-flat" style="margin-bottom: 0px;">
                <div class="panel-heading">
                    headding
                </div>

                <div class="panel-body">
                    <div class="row">
                        <select class="form-control" ng-model="template" ng-change="changeTemplate()" convert-to-number>
                            <option value="1">Template 1</option>
                            <option value="2">Template 2</option>
                        </select>
                    </div>

                    <div class="row">
                        <canvas width="500" height="300" id="canvas" drawing base64="{{imgTemplate}}"></canvas>
                    </div>

                    <div class="row" ng-show="base64Encode != ''">
                        <img ng-src="{{base64Encode}}"/>
                    </div>


                    <div class="row">
                        <div class="container" ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                            <signature-pad accept="accept" clear="clear" height="220" width="568" dataurl="dataurl"></signature-pad>

                            <div class="buttons">
                                <button ng-click="clear()">Clear</button>
                                <button ng-click="dataurl = signature.dataUrl" ng-disabled="!signature">Reset</button>
                                <button ng-click="signature = accept()">Sign</button>
                            </div>
                            <div class="sizes">
                                <input type="text" ng-model="boundingBox.width"> x <input type="text" ng-model="boundingBox.height">
                            </div>
                        </div>

                        <div class="result" ng-show="signature">
                            <img ng-src="{{ signature.dataUrl }}">
                        </div>
                    </div>

                </div>

                <div class="panel-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-icon btn-primary btnSubmit" ng-click="onSubmitForm()">
                            <i class="icon-checkmark3"></i>{{ 'btnSave' | translate }}</span>
                        </button>
                        <button type="button" class="btn btn-link" data-ng-click="onCancel()">{{ 'btnCancel' |
                            translate}}
                        </button>
                    </div>

                </div>
            </div>
            <!-- /main content -->


        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->
</div>