<div class="page-header page-header-xs" ng-controller="HeaderDetailCtrl">

    <div ng-include="'/wsplanning/templates/pages/workdetail/fragments/vehicle.html'"></div>
    <div ng-include="'/wsplanning/templates/pages/workdetail/fragments/customer.html'"></div>
    <div ng-include="'/wsplanning/templates/pages/workdetail/fragments/contract.html'"></div>


    <div class="panel panel-flat" id="headerPanel">
        <div class="panel-heading">
            <h3 class="panel-title"><b>{{ 'WoHeader' | translate }}</b></h3>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a href="" class="btn btn-xs" ng-click="addItem()"><span class="icon-plus3"></span></a></li>
                    <li><a href="" class="btn btn-xs" ng-click="confirmDelete()"
                           ng-disabled="checklistTable.list.length == 0"><span class="icon-bin"></span></a></li>
                    <li><a class="btn btn-xs"><span class="icon-sync" ng-click="refresh()"></span></a></li>
                    <li><a ng-class="{'rotate-180': collapsed == true}" data-action="collapse"
                           data-target="#pnHeaderFrm" ng-click="collapse()"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body panel-collapse in" id="pnHeaderFrm" ng-hide="collapsed">
            <form class="form-horizontal formValidate" name="headerFrm" id="headerFrm">
                <!--Row 1-->
                <div class="row">

                    <!--DeptId-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'department' | translate }}</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="WorkOrder.DeptId"
                                        ng-options="item.Id as item.Name for item in lstDepartment">
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--VisitReasonCode-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'visitReason' | translate }}</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="WorkOrder.VisitReasonCode"
                                        ng-options="item.Id as item.Name for item in lstVisitReason">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 1-->


                <!--Row 2-->
                <div class="row">
                    <!--ServiceDate-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'ServiceDate' | translate }}</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker"
                                           uib-datepicker-popup="dd-MMMM-yyyy" placeholder="Pick a date"
                                           is-open="popupServiceDate.opened" datepicker-options="dateOptions"
                                           ng-required="true" show-button-bar="false" ng-model="WorkOrder._ServiceDate"
                                           id="ServiceDate"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openServiceDate()">
											<i class="icon-calendar"></i>
											</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--ExecutionDate-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'ExpectedDelivery' | translate }}</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker"
                                           uib-datepicker-popup="dd-MMMM-yyyy" placeholder="Pick a date"
                                           is-open="popupCheckOutDate.opened" datepicker-options="dateOptions"
                                           ng-required="true" show-button-bar="false" ng-model="WorkOrder._CheckOutDate"
                                           id="CheckOutDate"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openCheckOutDate()">
											<i class="icon-calendar"></i>
											</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 2-->

                <!--Row 3-->
                <div class="row">
                    <!--CheckInDate-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'CheckInDate' | translate }}</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker"
                                           uib-datepicker-popup="dd-MMMM-yyyy" placeholder="Pick a date"
                                           is-open="popupCheckInDate.opened" datepicker-options="dateOptions"
                                           ng-required="true" show-button-bar="false" ng-model="WorkOrder._CheckInDate"
                                           id="CheckInDate"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openCheckInDate()">
											<i class="icon-calendar"></i>
											</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--ExecutionDate-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'ExecutionDate' | translate }}</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker"
                                           uib-datepicker-popup="dd-MMMM-yyyy" placeholder="Pick a date"
                                           is-open="popupExecutionDate.opened" datepicker-options="dateOptions"
                                           ng-required="true" show-button-bar="false" ng-model="WorkOrder._ExecutionDate"
                                           id="ExecutionDate"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openExecutionDate()">
											<i class="icon-calendar"></i>
											</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 3-->


                <!--Row 4-->
                <div class="row">
                    <!--Mileage-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'Mileage' | translate }}</label>
                            <div class="col-md-8">
                                <input type="number"  class="form-control" id="Mileage" ng-model="WorkOrder.Mileage">
                            </div>
                        </div>
                    </div>

                    <!--BookMOTDate-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'NextMOT' | translate }}</label>
                            <div class="col-md-8">
                                <div class="input-group">
                                    <input type="text" class="form-control datepicker"
                                           uib-datepicker-popup="dd-MMMM-yyyy" placeholder="Pick a date"
                                           is-open="popupBookMOTDate.opened" datepicker-options="dateOptions"
                                           ng-required="true" show-button-bar="false" ng-model="WorkOrder._BookMOTDate"
                                           id="BookMOTDate"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openBookMOTDate()">
											<i class="icon-calendar"></i>
											</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 4-->


                <!--Row 6-->
                <div class="row">
                    <!--BookTireDate-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--CustWaiting-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="WorkOrder.IsCustomerWaiting"
                                               ng-checked="WorkOrder.IsCustomerWaiting == 1">
                                        {{ 'CustWaiting' | translate }}
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" checked="checked">
                                        {{ 'BookTireChangeLot' | translate }}
                                    </label>

                                    <input type="text" class="form-control datepicker"
                                           uib-datepicker-popup="dd-MMMM-yyyy" placeholder="Pick a date"
                                           is-open="popupBookTireDate.opened" datepicker-options="dateOptions"
                                           ng-required="true" show-button-bar="false" ng-model="WorkOrder.BookTireDate"
                                           id="BookTireDate"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openBookTireDate()">
											<i class="icon-calendar"></i>
											</button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--BookMOTDate-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <!--Rework-->
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" ng-model="WorkOrder.IsRework"
                                               ng-checked="WorkOrder.IsRework == 1">
                                        {{ 'Rework' | translate }}
                                    </label>
                                </div>
                            </div>

                            <div class="col-md-8">
                                <div class="input-group">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" checked="checked">
                                        {{ 'BookMOTlot' | translate }}
                                    </label>

                                    <input type="text" class="form-control datepicker" id="BookMOTDate2"
                                           placeholder="Pick a date&hellip;" ng-model="WorkOrder.BookMOTDate">
                                    <span class="input-group-addon"><i class="icon-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 6-->


                <!--Row 7-->
                <div class="row">
                    <!--WOJobs-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'ChargeCats' | translate }}</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="WorkOrder.DeptId"
                                        ng-options="item.Id as item.Name for item in lstChargeCats">
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--WOJobs-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'JobCategory' | translate }}</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="WorkOrder.jobCats"
                                        ng-options="item.Id as item.Name for item in jobCats">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 7-->

                <!--Row 8-->
                <div class="row">
                    <!--Payer-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'Payer' | translate }}</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="WorkOrder.Payer"
                                        ng-options="item.Id as item.Name for item in lstPayer">
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--JobDepartment-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'JobDepartment' | translate }}</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="WorkOrder.JobDepartment"
                                        ng-options="item.Id as item.Name for item in lstDepartment">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 8-->

                <!--Row 9-->
                <div class="row">
                    <!--JobType-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'JobType' | translate }}</label>
                            <div class="col-md-8">
                                <select class="form-control" ng-model="WorkOrder.JobType"
                                        ng-options="item.Id as item.Name for item in jobTypes">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 9-->

                <!--Row 10-->
                <div class="row">
                    <!--JobTitle-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">{{ 'JobTitle' | translate }}</label>
                            <div class="col-md-10">
                                <textarea class="form-control" ng-model="WorkOrder.JobTitle"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 10-->

                <!--Row 11-->
                <div class="row">
                    <!--CustomerComplaint-->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-2">{{ 'CustomerComplaint' | translate }}</label>
                            <div class="col-md-10">
                                <textarea class="form-control" ng-model="WorkOrder.CustomerComplaint"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 11-->

                <div class="row pull-right">
                    <button type="button" ng-disabled="headerFrm.$invalid"
                            id="btnSubmitFrm"
                            class="btn btn-icon btn-primary btnSubmit"
                            ng-click="onSubmitFrm()">
                        <i class="icon-checkmark3"></i>{{ 'btnSave' | translate }}</span>
                    </button>
                    <button type="button" class="btn btn-link " data-ng-click="onCancel()">{{ 'btnCancel' | translate
                        }}
                    </button>
                </div>

            </form>
        </div>

    </div>

</div>


<script type="text/javascript">
  $(document).ready(function () {
  });

</script>