<!-- Page container -->
<div class="page-container" ng-controller="JobDetailCtrl">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Panel content -->
            <div class="panel panel-flat" style="margin-bottom: 0px;">
                <div class="panel-heading">
                    <div class="row">
                        <div class="panel-title text-center">
                            <div class="pull-left">
                                <h3><b>{{ 'WoJob' | translate }}</b></h3><br />
                                <h5 ng-show="jobParams.VHCLink"><b><a
                                            ng-click="openNewTab()">{{'VHCLink' | translate}}</a></b></h5>
                            </div>

                        </div>
                        <div class="text-center">
                            <h3 style="color:red"><b>{{jobParams.WarrantyInfo}}</b></h3>

                        </div>

                        <div class="pull-right">
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a class="btn btn-lg" data-popup="tooltip" data-placement="top" title="Add"
                                            ng-click="addJob()"><span class="icon-plus3"></span></a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="panel-body">

                    <form name="jobTabFrm">
                        <div class="table-responsive main-content">
                            <div ng-repeat="item in jobTabList track by $index">
                                <span ng-show="!isShow">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">

                                        </h6>
                                        <div class="heading-elements">
                                            <ul class="icons-list">

                                                <li ng-if="btn.value == 'true'"
                                                    ng-repeat="btn in lstButtonDetail | orderBy:'ordinalNumber' track by $index">
                                                    <a class="btn btn-lg"
                                                        ng-hide="!item.JobNo && btn.name == 'stamping'"
                                                        ng-click="openTypeModal(btn.name, item, $parent.$parent.$index)"><span
                                                            data-popup="tooltip" data-placement="top"
                                                            title="{{btn.text | translate}}"
                                                            ng-attr-title=" {{btn.text | translate}} "
                                                            ng-style="{'background-color': (item.JobAttachments.length > 0 && btn.name == 'photo') ? 'red' :'white'}"
                                                            ng-class="btn.icon"></span></a>
                                                </li>

                                                <li ng-click="toggleJobRow(item.RowId)"><a
                                                        ng-class="{'rotate-180': isShow == true}" data-action="collapse"
                                                        data-popup="tooltip" title="Collapse"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">

                                        <div class="form-horizontal">
                                            <div class="row">

                                                <div class="col-xs-1">
                                                    <div class="form-group">
                                                        <label class="control-label col-xs-8">{{'Job_No'| translate}}:
                                                        </label>
                                                        <div class="col-xs-4">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.JobNo" readonly>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-9">
                                                    <div class="form-group">
                                                        <label class="control-label col-xs-2">{{'JobTitle'| translate}}:
                                                        </label>
                                                        <div class="col-xs-10">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.Note">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-8">{{'EstimatedTime' | translate}}:</label>
                                                        <div class="col-xs-4">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.EstimatedTime" format-number-decimal>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-2">{{'Complaint' | translate}}:</label>
                                                        <div class="col-xs-10">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.Complaint">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-4">{{'JobType' | translate}}:</label>
                                                        <div class="col-xs-8">
                                                            <select ng-model="item.JobType" class="form-control"
                                                                ng-options="o.Id as o.Name for o in lstJobTypes"></select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-2">{{'Diagnotisc' | translate}}:</label>
                                                        <div class="col-xs-10">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.DiagnosticInfo">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-2">{{'Solution' | translate}}:</label>
                                                        <div class="col-xs-10">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.SolutionInfo">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                </span>

                                <span ng-show="isShow">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">

                                        </h6>
                                        <div class="heading-elements">
                                            <ul class="icons-list">
                                                <li ng-if="btn.value == 'true'"
                                                    ng-repeat="btn in lstButtonDetail | orderBy:'ordinalNumber' track by $index">
                                                    <a class="btn btn-lg"
                                                        ng-hide="!item.JobNo && btn.name == 'stamping'"
                                                        ng-click="openTypeModal(btn.name, item, $parent.$parent.$index)"><span
                                                            data-popup="tooltip" data-placement="top"
                                                            title="{{btn.text | translate}}"
                                                            ng-attr-title="{{ btn.text | translate }}"
                                                            ng-style="{'background-color': (item.JobAttachments.length > 0 && btn.name == 'photo') ? 'red' :'white'}"
                                                            ng-class="btn.icon"></span></a>
                                                </li>



                                                <li ng-click="toggleJobRow()"><a
                                                        ng-class="{'rotate-180': isShow == true}" data-action="collapse"
                                                        data-popup="tooltip" title="Collapse"></a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-horizontal">
                                            <div class="row">

                                                <div class="col-xs-1">

                                                    <div class="form-group">
                                                        <label class="control-label col-xs-8">{{'Job_No' | translate}}:
                                                        </label>
                                                        <div class="col-xs-4">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.JobNo" readonly>
                                                        </div>
                                                    </div>


                                                </div>
                                                <div class="col-xs-9">

                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-2">{{'JobTitle' | translate}}:
                                                        </label>
                                                        <div class="col-xs-10">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.Note">

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-xs-2">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-8">{{'EstimatedTime' | translate}}:</label>
                                                        <div class="col-xs-4">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.EstimatedTime" format-number-decimal>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-2">{{'Complaint' | translate}}:</label>
                                                        <div class="col-xs-10">
                                                            <input type="text" class="form-control" ng-change="getTextPredict(item.Complaint)"
                                                                ng-model="item.Complaint">
                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label  col-xs-4">{{'JobType' | translate}}:</label>
                                                        <div class="col-xs-8">

                                                            <select class="form-control" ng-model="item.JobType"
                                                                class="form-control"
                                                                ng-options="o.Id as o.Name for o in lstJobTypes">
                                                            </select>
                                                        </div>

                                                    </div>


                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-2">{{'Diagnotisc' | translate}}:</label>
                                                        <div class="col-xs-10">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.DiagnosticInfo">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-2">{{'Solution' | translate}}:</label>
                                                        <div class="col-xs-10">
                                                            <input type="text" class="form-control"
                                                                ng-model="item.SolutionInfo">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-xs-3">

                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-4">{{'ChargeCategory' | translate}}:</label>

                                                        <div class="col-xs-8">
                                                            <select class="form-control"
                                                                ng-model="item.ChargeCategoryId"
                                                                ng-init="item.ChargeCategoryId = lstChargeCats[0].Id"
                                                                ng-options="o.Id as o.Name for o in lstChargeCats">
                                                            </select>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="col-xs-3">

                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-4">{{'department' | translate}}:</label>
                                                        <div class="col-xs-8">


                                                            <select class="form-control" ng-model="item.DeptId"
                                                                ng-options="o.Id as o.Name for o in lstDepartment">
                                                            </select>
                                                        </div>

                                                    </div>

                                                </div>

                                                <div class="col-xs-3">

                                                    <div class="form-group">
                                                        <label
                                                            class="control-label  col-xs-4">{{'JobCategory' | translate}}:</label>
                                                        <div class="col-xs-8">
                                                            <select class="form-control" ng-model="item.JobCategory"
                                                                ng-options="o.Id as o.Name for o in lstJobCats">
                                                            </select>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-xs-3">

                                                    <div class="form-group">
                                                        <label
                                                            class="control-label col-xs-4">{{'Payer' | translate}}:</label>
                                                        <div class="col-xs-8">

                                                            <select class="form-control" ng-model="item.Payer"
                                                                ng-options="o.Id as o.Name for o in lstPayers">
                                                            </select>
                                                        </div>


                                                    </div>

                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <form class="formValidate" name="contractFrm">
                                                    <div class="table-responsive tableIndex nowhitespace"
                                                        ng-hide="item.Items == null">
                                                        <table class="table table-striped table-bordered table-hover">
                                                            <thead>
                                                                <tr>
                                                                    <th class="text-center" style="width: 5%">
                                                                        {{'No' | translate}}</th>
                                                                    <th class="text-center" style="width: 5%"></th>
                                                                    <th class="text-center" style="width: 10%">
                                                                        {{'Code' | translate}}</th>
                                                                    <th class="text-center">{{'Name' | translate}}</th>
                                                                    <th class="text-center" style="width: 5%">
                                                                        {{'Quantity' | translate}}
                                                                    </th>
                                                                    <th class="text-center" style="width: 10%"><button
                                                                            type="button" class="btn btn-primary"
                                                                            ng-click="markAll($index)">{{'btnMark' | translate}}</button>
                                                                    </th>
                                                                    <th class="text-center" style="width: 10%">
                                                                        {{'Action' | translate}}
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <!--BODY-->
                                                            <tbody>
                                                                <tr ng-repeat="obj in item.Items track by $index"
                                                                    ng-show="obj.RowId >= 0">
                                                                    <td class="text-center" style="width: 5%">
                                                                        <span>{{$index+1}}</span>
                                                                    </td>
                                                                    <td class="text-center" style="width: 5%">
                                                                        <span ng-class="getClass(obj.ItemType)"></span>
                                                                    </td>
                                                                    <td class="text-center text-nowrap"
                                                                        style="width: 10%">
                                                                        <span>{{obj.ItemNo}}</span>
                                                                    </td>
                                                                    <td class="text-left">
                                                                        <span>{{obj.Name}}</span>
                                                                    </td>
                                                                    <td class="text-center" style="width: 5%">
                                                                        <span ng-hide="obj.ItemType === 8">
                                                                            {{obj.Quantity}}
                                                                        </span>
                                                                    </td>
                                                                    <td class="text-center" style="width: 10%">
                                                                        <span
                                                                            ng-hide="obj.ItemType === 1">{{obj.MechanicId}}</span>
                                                                        <checkbox-directive
                                                                            has-Mechanic-Id="obj.MechanicId"
                                                                            type="obj.ItemType">
                                                                        </checkbox-directive>
                                                                    </td>
                                                                    <td class="text-center" style="width: 10%">
                                                                        <span>
                                                                            <a class="btn btn-primary"
                                                                                ng-click="removeItem($parent.$index, $index)">{{'btnDelete' | translate}}</a>
                                                                        </span>
                                                                    </td>
                                                                </tr>

                                                            </tbody>
                                                        </table>
                                                    </div>


                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </span>
                                <hr />
                            </div>
                        </div>

                        <div class="panel-footer">
                            <div class="pull-right">
                                <button type="button" ng-disabled="jobTabList == null"
                                    class="btn btn-icon btn-primary btnSubmit" ng-click="onSubmitForm()">
                                    <i class="icon-checkmark3"></i>{{ 'btnSave' | translate }}</span>
                                </button>
                                <button type="button" class="btn btn-link "
                                    data-ng-click="onCancel()">{{ 'btnCancel' | translate}}
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
            <!-- /main content -->


        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->