<!-- Page container -->
<div class="page-container" ng-controller="JobDetailCtrl">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Panel content -->
            <div class="panel panel-flat" style="margin-bottom: 0px;">
                <div class="panel-heading">
                    <h3 class="panel-title"><b>{{ 'WoJob' | translate }}</b></h3>
                    <div class="heading-elements">
                        <ul class="icons-list">
                            <li><a href="" class="btn btn-xs" ng-click="addJob()"><span class="icon-plus3"></span></a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="panel-body">

                    <div class="table-responsive main-content">
                        <div ng-repeat="item in jobTabList track by $index">
                            <span ng-show="!isShow">

                                <div class="panel-heading">
                                    <h6 class="panel-title">
                                    </h6>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a class="btn btn-xs" ng-click="openServiceItem(7, $index)"><span
                                                        data-popup="tooltip" data-placement="top" title="Labour"
                                                        class="icon-hammer-wrench"></span></a>
                                            </li>
                                            <li><a class="btn btn-xs" data-popup="tooltip" data-placement="top"
                                                    title="Spare Part" ng-click="openServiceItem(1, $index)"><span
                                                        class=" icon-cog3"></span></a>
                                            </li>
                                            <li><a class="btn btn-xs" data-popup="tooltip" data-placement="top"
                                                    title="Text Rows" ng-click="openServiceItem(8, $index)"><span
                                                        class="icon-file-text2"></span></a>
                                            </li>
                                            <li><a class="btn btn-xs" data-popup="tooltip" data-placement="top"
                                                    title="Sub Contractors" ng-click="openServiceItem(4, $index)"><span
                                                        class="icon-paste"></span></a>
                                            </li>
                                            <li><a class="btn btn-xs" data-popup="tooltip" data-placement="top"
                                                    title="Non Stock Items" ng-click="openServiceItem(2, $index)"><span
                                                        class="icon-folder-remove"></span></a>
                                            </li>
                                            <li ng-click="toggleJobRow(item.RowId)"><a
                                                    ng-class="{'rotate-180': isShow == true}" data-action="collapse"
                                                    data-popup="tooltip" title="Collapse"></a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">

                                    <div class="form-horizontal">
                                        <div class="row">
                                            <!-- <div class="col-xs-10">
                                                        <label>Job &nbsp;{{item.JobNo}}:</label> {{item.Note}}
            
                                                    </div> -->
                                            <div class="col-xs-1">
                                                <!-- <label>Job &nbsp;{{item.JobNo}}:</label> {{item.Note}} -->
                                                <div class="form-group">
                                                    <label class="control-label col-xs-9">Job No: </label>
                                                    <div class="col-xs-3">
                                                        <input type="text" class="form-control" ng-model="item.JobNo"
                                                            readonly>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-xs-9">
                                                <!-- <label>Job &nbsp;{{item.JobNo}}:</label> {{item.Note}} -->
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Job Title: </label>
                                                    <div class="col-xs-10">
                                                        <input type="text" class="form-control" ng-model="item.Note">

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-8">Estimated Time:</label>
                                                    <div class="col-xs-4">
                                                        <input type="text" class="form-control"
                                                            ng-model="item.EstimatedTime | number:2">
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-xs-8">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Complaint:</label>
                                                    <div class="col-xs-10">
                                                        <input type="text" class="form-control"
                                                            ng-model="item.Complaint">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-4">Job Type:</label>
                                                    <div class="col-xs-8">
                                                        <select ng-model="item.JobType" class="form-control"
                                                            ng-options="o.Id as o.Name for o in lstJobTypes"></select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>

                                </div>

                            </span>

                            <span ng-show="isShow">
                                <div class="panel-heading">
                                    <h6 class="panel-title">

                                    </h6>
                                    <div class="heading-elements">
                                        <ul class="icons-list">
                                            <li><a class="btn btn-xs" ng-click="openServiceItem(7, $index)"><span
                                                        data-popup="tooltip" data-placement="top" title="Labour"
                                                        class="icon-hammer-wrench"></span></a>
                                            </li>
                                            <li><a class="btn btn-xs" data-popup="tooltip" data-placement="top"
                                                    title="Spare Part" ng-click="openServiceItem(1, $index)"><span
                                                        class=" icon-cog3"></span></a>
                                            </li>
                                            <li><a class="btn btn-xs" data-popup="tooltip" data-placement="top"
                                                    title="Text Rows" ng-click="openServiceItem(8, $index)"><span
                                                        class="icon-file-text2"></span></a>
                                            </li>
                                            <li><a class="btn btn-xs" data-popup="tooltip" data-placement="top"
                                                    title="Sub Contractors" ng-click="openServiceItem(4, $index)"><span
                                                        class="icon-paste"></span></a>
                                            <li ng-click="toggleJobRow()"><a ng-class="{'rotate-180': isShow == true}"
                                                    data-action="collapse" data-popup="tooltip" title="Collapse"></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal">
                                        <div class="row">
                                            <!-- <div class="col-xs-10">
                                                        <label>Job &nbsp;{{item.JobNo}}:</label> {{item.Note}}
            
                                                    </div> -->
                                            <div class="col-xs-1">
                                                <!-- <label>Job &nbsp;{{item.JobNo}}:</label> {{item.Note}} -->
                                                <div class="form-group">
                                                    <label class="control-label col-xs-9">Job No: </label>
                                                    <div class="col-xs-3">
                                                        <input type="text" class="form-control" ng-model="item.JobNo"
                                                            readonly>
                                                    </div>
                                                </div>


                                            </div>
                                            <div class="col-xs-9">
                                                <!-- <label>Job &nbsp;{{item.JobNo}}:</label> {{item.Note}} -->
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Job Title: </label>
                                                    <div class="col-xs-10">
                                                        <input type="text" class="form-control" ng-model="item.Note">

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-xs-2">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-8">Estimated Time:</label>
                                                    <div class="col-xs-4">
                                                        <input type="text" class="form-control"
                                                            ng-model="item.EstimatedTime | number:2">
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-xs-8">
                                                <div class="form-group">
                                                    <label class="control-label col-xs-2">Complaint:</label>
                                                    <div class="col-xs-10">
                                                        <input type="text" class="form-control"
                                                            ng-model="item.Complaint">
                                                    </div>

                                                </div>

                                            </div>
                                            <div class="col-xs-4">
                                                <div class="form-group">
                                                    <label class="control-label  col-xs-4">Job Type:</label>
                                                    <div class="col-xs-8">
                                                        <!-- <input type="text" class="form-control" ng-model="item.JobType"> -->
                                                        <select class="form-control" ng-model="item.JobType"
                                                            class="form-control"
                                                            ng-options="o.Id as o.Name for o in lstJobTypes">
                                                        </select>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-3">

                                                <div class="form-group">
                                                    <label class="control-label col-xs-4">Charge Category</label>
                                                    <!-- <input type="text" class="form-control"
                                                                        ng-model="item.ChargeCategoryId"> -->
                                                    <div class="col-xs-8">
                                                        <select class="form-control" ng-model="item.ChargeCategoryId"
                                                            ng-options="o.Id as o.Name for o in lstChargeCats">
                                                        </select>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-xs-3">

                                                <div class="form-group">
                                                    <label class="control-label col-xs-4">Departmenty:</label>
                                                    <div class="col-xs-8">
                                                        <!-- <input type="text" class="form-control" ng-model="item.DeptId"> -->

                                                        <select class="form-control" ng-model="item.DeptId"
                                                            ng-options="o.Id as o.Name for o in lstDepartment">
                                                        </select>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="col-xs-3">

                                                <div class="form-group">
                                                    <label class="control-label  col-xs-4">Job Category:</label>
                                                    <!-- <input type="text" class="form-control" ng-model="item.JobCategory"> -->
                                                    <div class="col-xs-8">
                                                        <select class="form-control" ng-model="item.JobCategory"
                                                            ng-options="o.Id as o.Name for o in lstJobCats">
                                                        </select>
                                                    </div>

                                                </div>

                                            </div>

                                            <div class="col-xs-3">

                                                <div class="form-group">
                                                    <label class="control-label col-xs-4">Payer:</label>
                                                    <div class="col-xs-8">
                                                        <!-- <input type="text" class="form-control" ng-model="item.Payer"> -->
                                                        <select class="form-control" ng-model="item.Payer"
                                                            ng-options="o.Id as o.Name for o in lstPayers">
                                                        </select>
                                                    </div>


                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-horizontal">
                                    <div class="row">
                                        <form class="formValidate" name="contractFrm">
                                            <div class="table-responsive tableIndex nowhitespace"
                                                ng-hide="item.Items.length === 0">
                                                <table class="table table-striped table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center" style="width: 5%">No.</th>
                                                            <th class="text-center" style="width: 5%"></th>
                                                            <th class="text-center" style="width: 10%">Code
                                                            </th>
                                                            <th class="text-center">Name</th>
                                                            <th class="text-center" style="width: 5%">Quantity</th>
                                                            <th class="text-center" style="width: 5%"></th>
                                                            <th class="text-center" style="width: 10%">Actions</th>
                                                        </tr>
                                                    </thead>
                                                    <!--BODY-->
                                                    <tbody>
                                                        <tr ng-repeat="obj in item.Items track by $index">
                                                            <td class="text-center" style="width: 5%">
                                                                <span>{{$index+1}}</span>
                                                            </td>
                                                            <td class="text-center" style="width: 5%">
                                                                <span ng-class="getClass(obj.ItemType)"></span>
                                                            </td>
                                                            <td class="text-center text-nowrap" style="width: 10%">
                                                                <span>{{obj.ItemNo}}</span>
                                                            </td>
                                                            <td class="text-left">
                                                                <span class="">{{obj.Name}}</span>
                                                            </td>
                                                            <!-- <td class="text-center" style="width: 5%"><span
                                                                        ng-hide="obj.ItemType === 8">{{obj.Quantity}}</span>
                                                                </td> -->
                                                            <td class="text-center" style="width: 5%">
                                                                <span ng-hide="obj.ItemType === 8">
                                                                    {{obj.Quantity}}
                                                                </span>

                                                            </td>
                                                            <td class="text-center" style="width: 5%">
                                                                <span ng-class="getCheckRow(item.MechanicId)"
                                                                    ng-hide="obj.ItemType !== 7 && obj.ItemType !== 8">
                                                                </span>
                                                            </td>
                                                            <td class="text-center" style="width: 10%">
                                                                <span>
                                                                    <a class="btn btn-primary"
                                                                        ng-click="removeItem($parent.$index, $index)">{{'btnDelete' | translate}}</a>
                                                                </span>
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>


                                        </form>
                                    </div>

                                </div>

                        </div>
                        </span>


                    </div>


                </div>

            </div>
        </div>
    </div>


    <div class="panel-footer">

        <!-- Paging elements -->
        <!-- /paging element -->

    </div>
</div>
<!-- /panel content -->
</div>
<!-- /main content -->

</div>
<!-- /page content -->

</div>
<!-- /page container -->