<div class="row" ng-hide="additionalData == null || additionalData.length === 0">
    <div class="col-xs-12">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h5 class="panel-title"><span>{{'AdditionalData' | translate}}</span></h5>
            </div>

            <div class="panel-body">
                <div class="div-tree">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center">No</th>
                                    <th class="text-center">Id</th>
                                    <th class="text-center">Category</th>
                                    <th class="text-center">Label</th>
                                    <th class="text-center">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in additionalData">
                                    <th class="text-center">{{$index + 1}}</th>
                                    <th class="text-center">{{item.Id}}</th>
                                    <th class="text-center">{{item.Category}}</th>
                                    <th class="text-center">{{item.Label}}</th>
                                    <th class="text-center">{{item.Value}}</th>
                                </tr>
                                <tr ng-if="isNoData || !additionalData || additionalData.length <= 0" class="active">
                                    <td colspan="20" class="text-center">{{ 'commonNoResult' | translate }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>