<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only" ng-click="$ctrl.cancel()">Close</span>
    </button>
    <h4>{{title}}</h4>
</div>

<div class="modal-body">

    <div class="row">
        <div class="panel panel-flat">
            <div class="panel-heading">
                <h6 class="panel-title">Hierarchical select</h6>
                <div class="heading-elements">
                    <!-- <ul class="icons-list">
                        <li><a data-action="collapse"></a></li>
                        <li><a data-action="reload"></a></li>
                        <li><a data-action="close"></a></li>
                    </ul> -->
                </div>
            </div>

            <div class="panel-body">
                <div class="well border-left-danger border-left-lg">
                    <div ivh-treeview="fancy.bag" ivh-treeview-expand-to-depth="2">
                    </div>
                    <!-- <ul class="">
                        <li class="folder expanded">Expanded folder with children
                            <ul>
                                <li class="expanded">Expanded sub-item
                                    <ul></ul>
                                        <li>Menu sub-item</li>
                                        <li class="selected">This is a selected item</li>
                                    </ul>
                                </li>
                                <li>Collapsed sub-item
                                    <ul>
                                        <li>Sub-item 2.2.1</li>
                                        <li>Sub-item 2.2.2</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        
                        <li class="popup" title="Look, a tool tip!">Menu item with key and tooltip</li>
                        <li class="folder">Collapsed folder
                            <ul>
                                <li>Sub-item 1.1</li>
                                <li>Sub-item 1.2</li>
                            </ul>
                        </li>
                        <li>Basic <i>menu item</i> with <strong class="text-semibold">HTML support</strong></li>

                        <li class="expanded">Document with some children (expanded on init)
                            <ul>
                                <li class="selected">Document sub-item</li>
                                <li class="selected">Another document sub-item</li>
                            </ul>
                        </li>	
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>

</div>

<div class="modal-footer position-right">
    <a class="btn btn-primary" ng-click="$ctrl.cancel()">{{ 'btnCancel' | translate }}</a>
</div>