<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only" ng-click="$ctrl.cancel()">Close</span>
    </button>
    <h4>{{title}}</h4>
</div>

<div class="modal-body">
    <div class="panel panel-flat">
        <div class="panel-body">
            <div class="well border-left-danger border-left-lg jobnew">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span style="color: red">{{jobChecked}}</span></h5>
                                    </div>
                                    <div class="panel-body">
                                        <div class="div-tree">
                                            <ul class="tree-level" ng-repeat="item in jobTreeList track by $index">
                                                <li class="">
                                                    <span>{{item.Name}}</span>
                                                    <ul ng-repeat="sub in item.SubGroups as listSub">
                                                        <li class="">
                                                            <a ng-click="recentSales(sub)">
                                                                <span>{{sub.Name}}</span></a>

                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="row" ng-hide="historicalData == null || historicalData.length === 0">
                            <div class="col-xs-12">
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h5 class="panel-title"><span>{{'SelectedItem' | translate}}</span></h5>
                                    </div>

                                    <div class="panel-body">
                                        <div class="table-responsive nowhitespace div-table">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">No.</th>
                                                        <th class="text-center">Code</th>
                                                        <th class="text-center">Name</th>
                                                        <th class="text-center">Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in historicalData track by $index">
                                                        <th class="text-center">{{$index + 1}}</th>
                                                        <th class="text-center">{{item.ItemNo}}</th>
                                                        <th class="text-left">{{item.Name}}</th>
                                                        <th class="text-center">{{item.Quantity}}</th>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div ng-include="'/wsplanning/templates/pages/workdetail/modal/recent_sales.html'"></div>
                        <div ng-include="'/wsplanning/templates/pages/workdetail/modal/additional_data.html'"></div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>

<div class="modal-footer position-right">
    <button type="button" ng-click="save()" ng-disabled="disabledButton == true"
        class="btn btn-icon btn-primary btnSubmit">
        <i class="icon-checkmark3"></i>{{ 'btnSave' | translate }}</span>
    </button>
    <a class="btn btn-default" ng-click="$ctrl.cancel()">{{ 'btnCancel' | translate }}</a>
</div>