<div class="row" ng-hide="recentSalesList == null || recentSalesList.length === 0">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"><span>{{'recentSaleTitle' | translate}}</span></h5>
        </div>

        <div class="panel-body">
            <div class="table-responsive tableIndex">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th class="text-center">Code</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in recentSalesList">
                            <td class="text-center">{{item.ItemNo}}</td>
                            <td>{{item.Name}}</td>
                            <td class="text-center">{{item.Quantity | number}}</td>
                            <td class="text-center">
                                    <button type="button" class="btn btn-primary center-block"
                                        ng-click="addItem(item)">{{'btnAdd' | translate}}
                                    </button>
                            </td>
                        </tr>
                        <tr ng-if="isNoData || !recentSalesList || recentSalesList.length <= 0" class="active">
                            <td colspan="20" class="text-center">{{ 'commonNoResult' | translate }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel-footer text-right" ng-if="recentSalesList && recentSalesList.length > 0"
            style="padding-right: 25px;">

            <!-- Paging elements -->
            <form class="form-inline formPaging formValidate">
                <div class="form-group">
                    {{totalElements | number}} <span class="text-lowercase">{{ 'item' | translate }}</span>
                </div>
                <div class="form-group" style="border-left: 1px solid #ddd">
                    <ul class="pagination-flat pagination-rounded" uib-pagination total-items="totalElements"
                        items-per-page="limit" max-size="2" ng-model="page" boundary-links="true"
                        boundary-link-numbers="true" force-ellipses="true" rotate="true" previous-text="&lsaquo;"
                        next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </ul>
                </div>
                <div class="form-group">
                    <input type="number" name="page" ng-model="pageGo" placeholder="{{ 'page' | translate }}"
                        class="form-control validatePositiveInteger" min="1" max="{{(totalElements / limit) | ceil}}"
                        style="width: 55px">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">{{ 'go' | translate }}
                    </button>
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="limit" ng-change="changeLimit()" convert-to-number>
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="30">30</option>
                    </select>
                    <span>{{ 'limit' | translate }}</span>
                </div>
            </form>
            <!-- /paging element -->
        </div>
    </div>
</div>