<!-- Modal delete -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">{{'btnClose' | translate}}</span>
    </button>
    <h4>{{title}}</h4>
</div>

<form class="form-horizontal formValidate" name="mechanicFrm" id="mechanicFrm">
    <div class="modal-body">
        <div class="panel-body">
            <input style="display: none" type="text" class="form-control" ng-model="params.roleId">

            <!--Row 1-->
            <div class="row">
                <!--Code-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="DeptId" ng-model="item.DeptId"
                                   placeholder="{{ 'mechanicDeptId' | translate }}"
                                   minlength="5" maxlength="20" required="required" name="DeptId">
                        </div>
                    </div>
                </div>
                <!--End code-->

                <!--Name-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="Email" ng-model="item.Email"
                                   placeholder="{{ 'mechanicDeptId' | translate }}" required="required" name="Email">
                        </div>
                    </div>
                </div>
                <!--End Name-->
            </div>
            <!--End row 1-->


            <!--Row 2-->
            <div class="row">
                <!--name-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="Name" ng-model="item.Name"
                                   placeholder="{{ 'mechanicDeptId' | translate }}" name="Name">
                        </div>
                    </div>
                </div>
                <!--End name-->

                <!--phone-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="Phone"
                                   ng-model="item.Phone"
                                   placeholder="{{ 'mechanicDeptId' | translate }}"
                                   minlength="5" maxlength="20" required="required" name="Phone">
                        </div>
                    </div>
                </div>
                <!--End phone-->
            </div>
            <!--End row 2-->


            <!--Row 3-->
            <div class="row">
                <!--resType-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="ResType" ng-model="item.ResType"
                                   placeholder="{{ 'mechanicDeptId' | translate }}" required="required" name="ResType">
                        </div>
                    </div>
                </div>
                <!--End resType-->

                <!--shiftId-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="ShiftId" ng-model="item.ShiftId"
                                   placeholder="{{ 'mechanicDeptId' | translate }}"
                                   minlength="5" maxlength="20" required="required" name="ShiftId">
                        </div>
                    </div>
                </div>
                <!--End shiftId-->
            </div>
            <!--End row 3-->


            <!--Row 4-->
            <div class="row">
                <!--shortName-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="email" class="form-control" id="ShortName"
                                   ng-model="item.ShortName"
                                   placeholder="{{ 'mechanicDeptId' | translate }}" required="required"
                                   name="ShortName">
                        </div>
                    </div>
                </div>
                <!--End shortName-->

                <!--SiteId-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="SiteId" ng-model="item.SiteId"
                                   placeholder="{{ 'mechanicDeptId' | translate }}" name="SiteId">
                        </div>
                    </div>
                </div>
                <!--End siteId-->
            </div>
            <!--End row 4-->


            <!--Row 5-->
            <div class="row">
                <!--smanId-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="SmanId" ng-model="item.SmanId"
                                   placeholder="{{ 'mechanicDeptId' | translate }}" name="SmanId">
                        </div>
                    </div>
                </div>
                <!--End smanId-->

                <!--subSys-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="SubSys" ng-model="item.SubSys"
                                   placeholder="{{ 'mechanicDeptId' | translate }}" name="SubSys">
                        </div>
                    </div>
                </div>
                <!--End subSys-->
            </div>
            <!--End row 5-->

            <!--Row 6-->
            <div class="row">
                <!--typehead-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" autocomplete="off"
                                   ng-model="asyncSelected" placeholder="Load city use $http"
                                   uib-typeahead="address for address in getLocation($viewValue)"
                                   typeahead-loading="loadingLocations" typeahead-no-results="noResults"
                                   typeahead-select-on-exact="true">
                            <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                            <div ng-show="noResults">
                                <i class="glyphicon glyphicon-remove"></i> {{ 'commonNoResult' | translate }}
                            </div>
                        </div>
                    </div>
                </div>
                <!--End typehead-->

                <!--typehead selected-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-xs-3 control-label"><span>{{ 'mechanicDeptId' | translate }}</span></label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="asyncSelected"
                                   ng-model="asyncSelected"
                                   placeholder="{{ 'mechanicDeptId' | translate }}" name="asyncSelected"
                                   ng-disabled="true">
                        </div>
                    </div>
                </div>
                <!--End typehead selected-->

            </div>

        </div>


    </div>

    <div class="modal-footer text-center">
        <button type="button" ng-disabled="mechanicFrm.$invalid" id="btnSubmit"
                ng-click="$ctrl.ok()" class="btn btn-primary">{{ 'btnSave' | translate }}
        </button>
        <a class="btn btn-link"  ng-click="$ctrl.cancel()">{{ 'btnCancel' | translate }}</a>
    </div>

</form>
<!-- /modal delete -->

<script type="text/javascript">
  $(document).ready(function () {
    console.log("ready mechanicFrm!");
    $("#mechanicFrm").validate(common.formValidate);
  });
</script>