<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancel()"
        aria-hidden="true">&times;</button>
    <h4 class="modal-title">{{'ConfirmTitle' | translate}}</h4>
</div>
<div class="modal-body">
    <div class="row" ng-if="$scope.target.StampingCode">
        {{'StampToWorkorder'| translate}} {{target.WorkOrderNo}}, {{'JobNo'| translate}} {{target.JobNo}}?
    </div>
    <div class="row" ng-if="!$scope.target.StampingCode">
        {{'DoYouSave'| translate}} ?
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.cancel()"
        data-dismiss="modal">{{'btnCancel'|translate}}</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.save()">{{'btnSave'|translate}}</button>
</div>