<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only" ng-click="cancel()">Close</span>
    </button>
    <h4>{{'createTask' | translate}}</h4>
</div>

<div class="modal-body">

    <div class="well well-sm">

        <form class="form-horizontal formValidate" name="taskFrm" id="taskFrm">

            <!--Row 1-->
            <div class="row">

                <!--Db-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'db' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="data.Db"
                                    ng-options="item.Id as item.Name for item in lstCallCenterDb" ng-change="loadSite()">
                            </select>
                        </div>
                    </div>
                </div>

                <!--Site-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'site' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="data.SiteId"
                                    ng-options="item.Id as item.Name for item in lstCallCenterSite" ng-change="getPhoneCallEmployee()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 1-->


            <!--Row 2-->
            <div class="row">

                <!--subject-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'subject' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="data.Subject" ng-required="true"
                                    ng-options="item.Id as item.Name for item in lstCallCenterTaskType">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 2-->


            <!--Row 3-->
            <div class="row">

                <!--CustomerName-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'CustomerName' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="data.CustomerName">
                        </div>
                    </div>
                </div>

                <!--CustomerPhone-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'CustomerPhone' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="data.CustomerPhone">
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 3-->

            <!--Row 4-->
            <div class="row">

                <!--SeriNo-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'SeriNo' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" ng-model="data.VIN">
                        </div>
                    </div>
                </div>

            </div>
            <!--end row 4-->


            <!--Row 5-->
            <div class="row">

                <!--Employee-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'Employee' | translate }}</label>
                        <div class="col-xs-8">
                            <select ui-select2 ng-model="data.Employee" ng-required="true"
                                    ng-options="item.SmanId as item.Name for item in lstEmployees">
                            </select>
                        </div>
                    </div>
                </div>

                <!--TimeSchedule-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'TimeSchedule' | translate }}</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <input type="text" class="form-control" datetime-picker="dd-MMMM-yyyy HH:mm:ss"
                                       date-format="dd-MMMM-yyyy HH:mm:ss" ng-model="data.TimeSchedule"
                                       is-open="isOpenDate" ng-required="true"/>
                                <span class="input-group-btn">
                                            <button type="button" class="btn btn-default"
                                                    ng-click="openDate($event, prop)">
                                                <i class="icon-calendar"></i>
                                            </button>
                                        </span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--end row 5-->

            <!--Row 6-->
            <div class="row">

                <!--IsClose-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'IsClose' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="checkbox" class="form-control" ng-checked="data.IsClose" ng-model="data.IsClose">
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 6-->

            <!--Row 7-->
            <div class="row">

                <!--Text-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'Text' | translate }}</label>
                        <div class="col-xs-8">
                            <textarea class="form-control" ng-model="data.Text"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 7-->

        </form>

    </div>

</div>

<div class="modal-footer">
    <a class="btn btn-primary" id="btnSaveTask" ng-click="ok()" ng-disabled="taskFrm.$invalid" >{{ 'btnSave' | translate }}</a>
    <a class="btn btn-default" ng-click="cancel()">{{ 'btnCancel' | translate }}</a>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#taskFrm").validate(common.formValidate);
    });
</script>