<div class="modal-header">
    <button type="button" class="close" ng-click="$ctrl.cancel()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only" ng-click="$ctrl.cancel()">Close</span>
    </button>
    <h4>{{title}}</h4>
</div>

<div class="modal-body">

    <!--SEARCH-->
    <div class="well well-sm">
        <form class="form-horizontal form-search row" ng-submit="doSearch()">

            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="col-md-12">
                        <input type="text" class="form-control" ng-model="skey" placeholder="{{ 'search' | translate }}"
                            code="13">
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-2">
                    <button type="submit" ng-click="doSearch()" class="btn btn-icon btn-default"><i
                            class="icon-search4"></i></button>
                    <button type="button" class="btn btn-default" ng-click="openCamera()">
                        <i class="icon-camera"></i>
                    </button>
                </div>

                <!-- <div class="col-md-1 col-sm-1 col-xs-1">

                </div> -->

            </div>
        </form>
    </div>
    <!--SEARCH-->
    <div class="panel panel-flat">
        <div class="table-responsive tableModal nowhitespace">
            <table class="table able-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th class="text-center">{{'LicenseNo' | translate}}</th>
                        <th class="text-center">{{'VIN' | translate}}</th>
                        
                        <th class="text-center">{{'Model' | translate}}</th>
                       
                        <th class="text-center">{{'CustNo' | translate}}</th>
                        <th class="text-center">{{'Name' | translate}}</th>
                        
                        <th class="text-center">{{'Action' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in lstVehicles">
                        <td>{{item.LicenseNo}}</td>
                        <td>{{item.VIN}}</td>
                        <td class="text-wrap">{{item.Make}}&nbsp;{{item.Model}} &nbsp;{{item.SubModel}}</td>
                       
                        <td class="">{{item.PayerCustomer.CustNo}}</td>
                        <td class="text-wrap">{{item.PayerCustomer.FName}}&nbsp;{{item.PayerCustomer.LName}}</td>

                        <td class="text-center">
                            <button type="button" ng-click="doPick(item)" class="btn btn-primary"></i> {{'Pick' | translate}}</button>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>

</div>

<div class="modal-footer position-right">
    <a class="btn btn-primary" ng-click="$ctrl.cancel()">{{ 'btnCancel' | translate }}</a>
</div>