<div class="panel panel-flat" style="margin-bottom: 0px;" data-ng-init="loadCommon()">
    <div class="table-responsive">
        <table class="table table-bordered table-condensed table-striped table-hover ipadpro-responsive">
            <thead>
            <tr class="d-flex">
                <th ng-repeat="field in listField" class="col-width">
                    <span ng-if="!filters[field.Id].isOpen">
                        <span style="float: left;padding: 0;width: 90%;" >
                            <span ng-if="field.order" class="orderable"
                                  ng-click="sort(field.Id)" >
                                {{field.Name}}

                                <!--Order-->
                                <span ng-if="sortable.name == field.Id">
                                    <span ng-if="sortable.direction == 'desc'">
                                        <i class="icon icon-eject size7"></i>
                                    </span>
                                    <span ng-if="sortable.direction == 'asc'">
                                        <i class="icon icon-eject rotate-180 size7"></i>
                                    </span>
                                </span>
                                <!--End -->
                            </span>

                            <span ng-if="!field.order" class="noOrder">
                                {{field.Name}}
                            </span>
                        </span>


                        <span style="float: right;padding: 0;width: 5%;">
                            <!--filter-->
                            <span ng-if="filters[field.Id] != undefined">
                                <span ng-class="filters[field.Id].isActive == true ? 'active' : 'inactive' " ng-click="openFilter(field.Id,true)">
                                    <span class="icon-filter glyphicon glyphicon-filter size7"></span>
                                </span>
                            </span>
                            <!--End filter-->
                        </span>
                    </span>

                    <!--Filter active-->
                    <span ng-if="filters[field.Id].isOpen">
                        <div class="form-group">
                            <select class="form-control-edit" ng-model="searchPr[field.Id]" ng-change="checkChange(field.Id, searchPr[field.Id])"
                                    ng-options="item.Id as item.Name for item in filters[field.Id].options">
                            </select>
                        </div>
                    </span>
                    <!--End filter active-->
                </th>
            </tr>
            </thead>

            <!--BODY-->
            <tbody>
            <tr ng-repeat="item in lstData" ng-dblclick="viewDetail(item)" ios-dblclick="viewDetail(item)">
                <td ng-repeat="field in listField" class="text-left col-xs-1">
                    {{item[field.Id]}}
                </td>
            </tr>
            <tr ng-if="isNoData || !lstData || lstData.length <= 0" class="active">
                <td colspan="20" class="text-center">{{ 'commonNoResult' | translate }}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-footer text-right" style="padding-right: 25px;">

        <!-- Paging elements -->
        <form class="form-inline formPaging formValidate">
            <div class="form-group">
                {{totalElements | number}} <span class="text-lowercase">{{ 'item' | translate }}</span>
            </div>
            <div class="form-group" style="border-left: 1px solid #ddd">
                <ul class="pagination-flat pagination-rounded" uib-pagination total-items="totalElements"
                    items-per-page="limit" max-size="2" ng-model="page" boundary-links="true"
                    boundary-link-numbers="true" force-ellipses="true" rotate="true" previous-text="&lsaquo;"
                    next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
            </div>
            <div class="form-group">
                <input type="number" name="page" ng-model="pageGo" placeholder="{{ 'page' | translate }}"
                       class="form-control validatePositiveInteger" min="1" max="{{(totalElements / limit) | ceil}}"
                       style="width: 55px">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">{{ 'go' | translate }}</button>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="limit" ng-change="changeLimit()" convert-to-number>
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                </select>
                <span>{{ 'limit' | translate }}</span>
            </div>
        </form>
        <!-- /paging element -->

    </div>
</div>


<style type="text/css">
    .active{
        color: black;
    }

    .inactive{
        color: #c1c1c1;
    }

    .size7 {
        font-size: 13px !important;
    }

    .orderable{
        cursor: pointer;
    }

    .noOrder{
        cursor: default;
    }
</style>