<div ng-include="'/wsplanning/templates/pages/gridWorkOrder/page-header.html'"></div>


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!--SEARCH-->
            <div ng-include="'/wsplanning/templates/pages/search_wo.html'"></div>
            <!--SEARCH-->

            <!-- Panel content -->
            <div ng-include="'/wsplanning/templates/pages/gridWorkOrder/grid.html'"></div>
            <!-- /panel content -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->