<!-- Basic panel controls -->
<div class="panel panel-white" ng-controller="ContractCtrl">
    <span ng-show="!isShow">
        <div class="panel-heading">
            <h6 class="panel-title">
                <a class="btn btn-link btn-float has-text text-size-small" ng-click="$ctrl.openSearchContact('full','')"  style="float: left;">
                    <i class="icon-address-book position-left myTitle"></i>
                </a>
                <small class="myTitle" style="margin-left: 0px;" ng-if="WOContact != null">
                    {{WOContact.CustNo}}, {{WOContact.LName}}, {{WOContact.FName}}, {{WOContact.Tel1}}, {{WOContact.Email}}<br/>
                    {{WOContact.PostalCode}}, {{WOContact.City}}, {{WOContact.Address}}
                </small>
                <small class="myTitle" ng-if="WOContact == null">
                    N/A
                </small>
            </h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-click="toogleVehicle()"><a ng-class="{'rotate-180': isShow == true}" data-action="collapse" data-popup="tooltip" title="Collapse"></a></li>
                </ul>
            </div>
        </div>
    </span>

    <span ng-show="isShow">
        <div class="panel-heading">
            <h6 class="panel-title">
                <a class="btn btn-link btn-float has-text text-size-small" ng-click="$ctrl.openSearchContact('full','')"  style="float: left;">
                    <i class="icon-address-book position-left myTitle"></i>
                </a>
                <small class="myTitle" style="margin-left: 0px;" ng-if="WOContact != null">
                    {{WOContact.CustNo}}, {{WOContact.LName}}, {{WOContact.FName}}, {{WOContact.Tel1}}, {{WOContact.Email}}<br/>
                    {{WOContact.PostalCode}}, {{WOContact.City}}, {{WOContact.Address}}
                </small>
                <small class="myTitle" ng-if="WOContact == null">
                    N/A
                </small>
            </h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-click="toogleVehicle()"><a ng-class="{'rotate-180': isShow == true}" data-action="collapse" data-popup="tooltip" title="Collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form class="form-horizontal formValidate" name="contractFrm">
                <div ng-repeat="item in WOContact.DynamicDataFields" class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ item.Label }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="label_contract_{{$index}}"  ng-model="item.Value" ng-disabled="true">
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </span>
</div>
<!-- /basic panel controls -->