<!-- Basic panel controls -->
<div class="panel panel-white" ng-controller="CustomerCtrl">
    <span ng-show="!isShow">
        <div class="panel-heading">
            <h6 class="panel-title">
                <a class="btn btn-link btn-float has-text text-size-small" ng-click="searchVehicle({})">
                    <i class="icon-cog3 position-left myTitle"></i>
                </a>
                <small class="myTitle">{{WOCustomer.Address}}, {{WOCustomer.Tel1}}, {{WOCustomer.InvoiceGroup}}, {{WOCustomer.AccountGroup}}</small>
            </h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-click="toogleVehicle()"><a ng-class="{'rotate-180': isShow == true}" data-action="collapse" data-popup="tooltip" title="Collapse"></a></li>
                </ul>
            </div>
        </div>
    </span>

    <span ng-show="isShow">
        <div class="panel-heading">
            <h6 class="panel-title">
                <a class="btn btn-link btn-float has-text text-size-small" ng-click="searchVehicle({})">
                    <i class="icon-cog3 position-left myTitle"></i>
                </a>
                <small class="myTitle">{{WOCustomer.Address}}, {{WOCustomer.Tel1}}, {{WOCustomer.InvoiceGroup}}, {{WOCustomer.AccountGroup}}</small>
            </h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-click="toogleVehicle()"><a ng-class="{'rotate-180': isShow == true}" data-action="collapse" data-popup="tooltip" title="Collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <form class="form-horizontal formValidate" name="contractFrm">
                <!--Row 1-->
                <div class="row">
                    <!--Address-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'Address' | translate }}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="Address"  ng-model="WOCustomer.Address">
                            </div>
                        </div>
                    </div>

                    <!--Tel2-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'Phone' | translate }}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="Tel2"  ng-model="WOCustomer.Tel2">
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 1-->

                <!--Row 2-->
                <div class="row">
                    <!--InvoiceGroup-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'CustomerGroup' | translate }}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="CustomerGroup"  ng-model="WOCustomer.InvoiceGroup">
                            </div>
                        </div>
                    </div>

                    <!--AccountGroup-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-4">{{ 'AccountGroup' | translate }}</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="AccountGroup"  ng-model="WOCustomer.AccountGroup">
                            </div>
                        </div>
                    </div>
                </div>
                <!--end row 2-->
            </form>
        </div>

    </span>
</div>
<!-- /basic panel controls -->