<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" ng-app="UserWebApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Digital Workshop Planner</title>

    <!-- Global stylesheets -->
    <link href="/assets/css/google-font/css.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <!--<link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">-->
    <!--<link href="/assets/css/core.css" rel="stylesheet" type="text/css">-->
    <!--<link href="/assets/css/components.css" rel="stylesheet" type="text/css">-->
    <!--<link href="/assets/css/colors.css" rel="stylesheet" type="text/css">-->
    <link href="/assets/js/core/libraries/angularjs/tree-grid.css" rel="stylesheet" type="text/css">
    <link href="/assets/js/core/libraries/angularjs/ivh-treeview.css" rel="stylesheet" type="text/css">
    <link href="/assets/js/core/libraries/angularjs/ivh-treeview-theme-basic.css" rel="stylesheet" type="text/css">

    <link href="/assets/css/limitless/Bootstrap_3/bootstrap.css" rel="stylesheet" type="text/css">
    <!--<link href="/assets/css/limitless/Bootstrap_3/bootstrap.min.css" rel="stylesheet" type="text/css">-->
    <link href="/assets/css/limitless/Bootstrap_3/core.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/limitless/Bootstrap_3/components.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/limitless/Bootstrap_3/colors.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/js/core/libraries/angularjs/select2/select2.css" rel="stylesheet" type="text/css">

    <link
            href="/assets/js/core/libraries/angularjs/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css"
            rel="stylesheet">
    <!-- /global stylesheets -->

    <!-- Theme stylesheets files -->
    <link href="/wsplanning.css" rel="stylesheet" type="text/css">
    <!-- /theme stylesheets files -->

    <!--CSS Timeline-->
    <link href="/assets/js/plugins/fullcalendar-4.0.1/packages/core/main.min.css" rel="stylesheet">
    <link href="/assets/js/plugins/fullcalendar-4.0.1/packages/timeline/main.min.css" rel="stylesheet">
    <link href="/assets/js/plugins/fullcalendar-4.0.1/packages/resource-timeline/main.min.css" rel="stylesheet">

    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->


    <!-- Theme JS files -->
    <script type="text/javascript" src="/assets/js/plugins/forms/selects/bootstrap_multiselect.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/inputmask/jquery.inputmask.bundle.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/forms/validation/validate.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/websocket/sockjs.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/websocket/stomp.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/notifications/pnotify.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/select2/select2.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/prism.min.js"></script>
    <!--<script type="text/javascript" src="/assets/js/core/libraries/angularjs/hammerjs/hammer.js"></script>-->
    <!-- /theme JS files -->

    <!--Barcode-->
    <script src="//webrtc.github.io/adapter/adapter-latest.js" type="text/javascript"></script>
    <script src="/assets/js/quagga/dist/quagga.js" type="text/javascript"></script>


    <!--JS Timeline-->
    <script type="text/javascript" src="/assets/js/plugins/fullcalendar-4.0.1/packages/core/main.min.js"></script>
    <!--<script type="text/javascript" src="/assets/js/plugins/fullcalendar-4.0.1/packages/moment/main.min.js"></script>-->
    <script type="text/javascript"
            src="/assets/js/plugins/fullcalendar-4.0.1/packages/interaction/main.min.js"></script>
    <script type="text/javascript"
            src="/assets/js/plugins/fullcalendar-4.0.1/packages/resource-common/main.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/fullcalendar-4.0.1/packages/timeline/main.min.js"></script>
    <script type="text/javascript"
            src="/assets/js/plugins/fullcalendar-4.0.1/packages/resource-timeline/main.min.js"></script>

    <!-- Angular JS files -->
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular-ui-router.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/oclazyload/dist/ocLazyLoad.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular-cookies.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/checklist-model.js"></script>
<!--    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/select2.js"></script>-->
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular-ui-select2/src/select2.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/angular-translate.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/tree-grid-directive.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/ivh-treeview.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/datetime-picker.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/widgets.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/effects.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/interactions.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/fancytree_all.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/fancytree_childcounter.js"></script>
    <script type="text/javascript"
            src="/assets/js/core/libraries/angularjs/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
    <script type="text/javascript"
            src="/assets/js/core/libraries/angularjs/right-click-menu/sarsha.contextmenu.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/angularjs/ios-dblclick/ios-dblclick.js"></script>
    <!-- /angular JS files -->

    <!-- angular-dynamic-locale -->
    <script type="text/javascript"
            src="/assets/js/core/libraries/angularjs/angular-locale/angular-dynamic-locale/tmhDynamicLocale.js"></script>
    <!-- end -->

    <!-- angular-input-modified -->
    <script type="text/javascript"
            src="/assets/js/core/libraries/angularjs/angular-input-modified/angular-input-modified.min.js"></script>
    <!-- end -->

    <script type="text/javascript" src="/assets/js/multiselect/select.js"></script>
    <link href="/assets/js/multiselect/select.css" rel="stylesheet" type="text/css">


    <!--Add my JS signature pad -->
    <script src="/assets/js/core/libraries/angularjs/signature_pad/dist/signature_pad.js"></script>
    <script
            src="/assets/js/core/libraries/angularjs/@blinkmobile/canvas-manipulation/dist/canvas-manipulation.js"></script>
    <script
            src="/assets/js/core/libraries/angularjs/@blinkmobile/angular-signature-pad/dist/angular-signature-pad.js"></script>
    <!--<script src="/assets/js/core/libraries/angularjs/angular-signature/src/signature_pad.min.js"></script>-->
    <script src="/assets/js/core/libraries/angularjs/angular-signature/src/signature.js"></script>


    <!--Scan barcode-->
    <script src="/assets/js/quagga/dist/quagga.min.js"></script>

    <!-- webcam directive -->
    <script src="/webcam.min.js"></script>
    <!--  -->

    <!--<script type="text/javascript" src="/assets/js/core/app.js"></script>-->
    <script type="text/javascript" src="/assets/js/limitless/app.js"></script>
    <!--<script type="text/javascript" src="/assets/js/dashboard.js"></script>-->
    <script type="text/javascript" src="/wsplanning.js"></script>
    <script type="text/javascript" src="/wsplanning/constants.js"></script>
    <script type="text/javascript" src="/wsplanning/common.js"></script>
    <script type="text/javascript" src="/wsplanning/app.module.js"></script>
    <script type="text/javascript" src="/wsplanning/app.filter.js"></script>
    <script type="text/javascript" src="/wsplanning/app.service.js"></script>
    <script type="text/javascript" src="/wsplanning/app.directive.js"></script>
    <script type="text/javascript" src="/wsplanning/app.translate.js"></script>
    <script type="text/javascript" src="/wsplanning/app.route.js"></script>
    <script type="text/javascript" src="/wsplanning/js/commonServices.js"></script>
    <script type="text/javascript" src="/wsplanning/js/factory.js"></script>

    <!--JS-->
    <script type="text/javascript" src="/wsplanning/js/app.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/services/WorkOrderService.js"></script>
    <!--modal-->
    <script type="text/javascript" src="/wsplanning/js/workdetail/modal/searchvehicle.controller.js"></script>

    <script type="text/javascript" src="/wsplanning/js/workorder.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workorder.modal.controller.js"></script>

    <script type="text/javascript" src="/wsplanning/js/allWorkOrder/allWorkOrder.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/allWorkOrder/ScanBarcodeModalCtrl.js"></script>

    <script type="text/javascript" src="/wsplanning/js/stamping/stamping.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/notification/notification.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/replacementVehicle/replacementVehicle.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/offer/newOffer.controller.js"></script>

    <!--workdetail-->
    <script type="text/javascript" src="/wsplanning/js/workdetail/workdetail.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/headerdetail.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/jobdetail.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/vehicle.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/customer.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/contact.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/serviceItem.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/planning.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/planningdetail.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/checkin.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/modal/saveBookPool.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/modal/editBookPool.controller.js"></script>
    <script type="text/javascript" src="/wsplanning/js/workdetail/modal/saveBookResource.controller.js"></script>

<!--    CalendarView-->

    <script type="text/javascript" src="/wsplanning/js/calendarView/CalendarViewCtrl.controller.js"></script>
</head>

<body class="sidebar-xs" ng-controller="appCtrl" style="touch-action: manipulation;">
<div class="preloader" id="preloader1">
    <hr />
    <hr />
    <hr />
    <hr />
</div>
<div class="preloader" id="preloader2">
    <hr />
    <hr />
    <hr />
    <hr />
</div>

<div th:replace="layouts/fragments/navbar::navbar"></div>

<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <div th:replace="layouts/fragments/sitebar::sitebar"></div>


        <!-- Main content -->
        <div class="content-wrapper">

            <div ui-view></div>
            <!--<div layout:fragment="content"></div>-->
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
</div>
<!-- /page container -->

<!-- Footer -->
<!--<div th:replace="layouts/fragments/footer::footer"></div>-->
<!-- /footer -->

<script type="text/javascript">
  $(document).ready(function () {
    console.log("ready!");
    $(".formValidate").validate(common.formValidate);
  });
</script>
</body>

</html>

