<!-- Basic panel controls -->
<div class="panel panel-white">
    <span ng-show="!isShowContact">
        <div class="panel-heading">
            <h6 class="panel-title">
                <a class="btn btn-link btn-float has-text text-size-small" ng-click="$ctrl.contact('lg','')">
                    <i class="icon-address-book position-left"></i>
                </a>
                <small>{{contact.LName}},&nbsp;&nbsp; {{contact.FName}},&nbsp;&nbsp; {{contact.Tel1}},&nbsp;&nbsp; {{contact.Email}}</small>
            </h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-click="toggleContact()"><a ng-class="{'rotate-180': isShow == true}" data-action="collapse"
                            data-popup="tooltip" title="Collapse"></a></li>
                </ul>
            </div>
        </div>
    </span>

    <span ng-show="isShowContact">
        <div class="panel-heading">
            <h6 class="panel-title">Contact</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-click="toggleContact()"><a ng-class="{'rotate-180': isShow == true}" data-action="collapse"
                            data-popup="tooltip" title="Collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
                <small>{{contact.LName}},&nbsp;&nbsp; {{contact.FName}},&nbsp;&nbsp; {{contact.Tel1}},&nbsp;&nbsp; {{contact.Email}}</small> <br>

                <small>{{contact.PostalCode}},&nbsp;&nbsp; {{contact.City}},&nbsp;&nbsp; {{contact.Address}}</small> <br>
    
                <small>{{contact.LName}}</small>
    
            <!-- Default panel controls - <code>collapse</code>, <code>update</code> and <code>close</code> buttons -->
        </div>

    </span>
</div>
<!-- /basic panel controls -->