<!-- Basic panel controls -->
<div class="panel panel-white">
    <span ng-show="!isShowCustomer">
        <div class="panel-heading">
            <h6 class="panel-title">
                <a class="btn btn-link btn-float has-text text-size-small" ng-click="$ctrl.customer('lg','')">
                    <i class="icon-user position-left"></i>
                </a>
                <small>{{customer.LName}},&nbsp;&nbsp; {{customer.FName}},&nbsp;&nbsp; {{customer.Tel1}},&nbsp;&nbsp; {{customer.Email}}</small></h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-click="toggleCustomer()"><a ng-class="{'rotate-180': isShow == true}" data-action="collapse" data-popup="tooltip" title="Collapse"></a></li>
                </ul>
            </div>
        </div>
    </span>

    <span ng-show="isShowCustomer">
        <div class="panel-heading">
            <h6 class="panel-title">Customer</h6>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li ng-click="toggleCustomer()"><a ng-class="{'rotate-180': isShow == true}" data-action="collapse" data-popup="tooltip" title="Collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="panel-body">
            <small>{{customer.LName}},&nbsp;&nbsp; {{customer.FName}},&nbsp;&nbsp; {{customer.Tel1}},&nbsp;&nbsp; {{customer.Email}}</small> <br>

            <small>{{customer.PostalCode}},&nbsp;&nbsp; {{customer.City}},&nbsp;&nbsp; {{customer.Address}}</small> <br>

            <small>{{customer.LName}}</small>

            <!-- Default panel controls - <code>collapse</code>, <code>update</code> and <code>close</code> buttons -->
        </div>

    </span>
</div>
<!-- /basic panel controls -->