canvas {
  background: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
}

/* Inline Example */
signature-inline bm-signature-pad {
  display: block;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

/* Popup Example */
signature-popup .popup {
  background: lightgrey;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

signature-popup .popup bm-signature-pad {
  position: absolute;
  top: 10px;
  bottom: 40px;
  right: 10px;
  left: 10px;
}

signature-popup .popup button {
  position: absolute;
  bottom: 0;
}

signature-popup .popup button.save {
  right: 10px;
}

signature-popup .popup button.cancel {
  right: 70px;
}

signature-popup .popup button.clear {
  left: 10px;
}


.container {
  border: 1px solid red;
  padding: 10px 10px 40px 10px;
  position: relative;
  margin: 0 auto 0 auto;
  height: 100%;
}

.container .signature {
  border: 1px solid orange;
  margin: 0 auto;
  cursor: pointer;
}

.container .signature canvas {
  border: 1px solid #999;
  margin: 0 auto;
  cursor: pointer;
}

.container .buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.container .sizes {
  position: absolute;
  bottom: 12px;
  right: 12px;
}

.container .sizes input {
  width: 4em;
  text-align: center;
}

.result {
  border: 1px solid blue;
  margin: 30px auto 0 auto;
  height: 220px;
  width: 568px;
}