.Late{
  background-color: yellow;
  color: black;
}
.Arrived{
  background-color: yellow;
  color: red;
}

.navigation li .active {
  background-color: rgba(0, 0, 0, .1);
  color: #fff;
}

.navigation .active {
  background-color: rgba(0, 0, 0, .1);
  color: #fff;
}

.displayNone {
  display: none;
}

/*<editor-fold desc="Style for input inline">*/
.value-edit-inline:hover {
  cursor: pointer;
}

/*</editor-fold>*/

/*<editor-fold desc="Restyle for label error in paging">*/
.formPaging .form-group {
  vertical-align: middle;
}

.formPaging .validation-error-label {
  position: static !important;
  display: inline-block;
}

.formPaging .validation-error-label:before, .formPaging .validation-valid-label:before {
  position: static;
}

/*</editor-fold>*/

/*<editor-fold desc="Angular ui">*/
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

/*</editor-fold>*/

/*<editor-fold desc="Search more">*/
.dropdownMoreInputSearch li {
  padding: 8px 16px;
}

.dropdownMoreInputSearch li:hover {
  background-color: #f5f5f5;
}

.dropdownMoreInputSearch li input[type=checkbox] {
  margin: 0;
  position: relative;
  top: 2px;
}

/*</editor-fold>*/

/*<editor-fold desc="Restyle active nav tab">*/
.nav-tabs.nav-tabs-solid > .active > a:after, .nav-tabs.nav-tabs-solid > .active > a:hover:after, .nav-tabs.nav-tabs-solid > .active > a:focus:after {
  background-color: #3f51b5;
}

/*</editor-fold>*/

/*<editor-fold desc="View detail in table">*/
.viewDetail:hover {
  cursor: pointer;
}

/*</editor-fold>*/

/*<editor-fold desc="Spinner">*/
.preloader {
  z-index: 99999;
  display: none;
}

.preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.preloader hr {
  border: 0;
  margin: 0;
  width: 40%;
  height: 40%;
  position: absolute;
  border-radius: 50%;
  animation: spin 2s ease infinite
}

.preloader :first-child {
  background: #6a91ff;
  animation-delay: -1.5s
}

.preloader :nth-child(2) {
  background: #5477ff;
  animation-delay: -1s
}

.preloader :nth-child(3) {
  background: #4860ff;
  animation-delay: -0.5s
}

.preloader :last-child {
  background: #3F51B5
}

@keyframes spin {
  0%, 100% {
    transform: translate(0)
  }
  25% {
    transform: translate(160%)
  }
  50% {
    transform: translate(160%, 160%)
  }
  75% {
    transform: translate(0, 160%)
  }
}

/*</editor-fold>*/

table td .label-striped {
  margin: 1px 5px 1px 0px;
  padding: 1px 5px;
  font-size: 12px !important;
}

/*<editor-fold desc="TABLE BASIC INFO">*/
table.table-basic-info tr {
  background-color: #f8f8f8
}

table.table-basic-info tr:hover {
  background-color: #ebebeb
}

table.table-basic-info tr td:first-child {
  font-weight: 500;
}

table.table-basic-info tr:first-child td {
  border-top: 0 !important;
}

table.table-basic-info td {
  white-space: nowrap;
}

/*</editor-fold>*/

/*<editor-fold desc="COMMON STYLE FOR TEXT">*/
.page-title h4 {
  text-transform: uppercase;
}

.breadcrumb li:first-child {
  text-transform: capitalize;
}

.breadcrumb li {
  /*text-transform: lowercase;*/
}

/*</editor-fold>*/

/*<editor-fold desc="RESTYLE SEARCH FORM">*/
@media (min-width: 1025px) {
  .form-search .form-group {
    margin-bottom: -25px;
    height: 75px;
  }
}

.multi-select-full .checkbox input[type='checkbox'] {
  display: none;
}

/*</editor-fold>*/

.help {
  cursor: help;
}

.select2-container {
  width: 100% !important;
}

/*<editor-fold desc="Style row for alarm">*/
.table > thead > tr > td.yellow,
.table > tbody > tr > td.yellow,
.table > tfoot > tr > td.yellow,
.table > thead > tr > th.yellow,
.table > tbody > tr > th.yellow,
.table > tfoot > tr > th.yellow,
.table > thead > tr.yellow > td,
.table > tbody > tr.yellow > td,
.table > tfoot > tr.yellow > td,
.table > thead > tr.yellow > th,
.table > tbody > tr.yellow > th,
.table > tfoot > tr.yellow > th {
  background-color: #feff0047;
}

.table-hover > tbody > tr > td.yellow:hover,
.table-hover > tbody > tr > th.yellow:hover,
.table-hover > tbody > tr.yellow:hover > td,
.table-hover > tbody > tr:hover > .yellow,
.table-hover > tbody > tr.yellow:hover > th {
  background-color: #feff0080;
}

/*</editor-fold>*/

/*<editor-fold desc="Restyle label device, label group device">*/
.label-striped {
  text-transform: none !important;
}

.label-warning-severity {
  background-color: #9BF0E9;
  font-weight: bold;
  color: black
}

.label-info-severity {
  background-color: #00FF11;
  font-weight: bold;
  color: black
}

.label-minor-severity {
  background-color: #F8FF01;
  font-weight: bold;
  color: black
}

.label-major-severity {
  background-color: #FCC200;
  font-weight: bold;
  color: black
}

.label-critical-severity {
  background-color: #FF4500;
  font-weight: bold;
  color: black
}

.label-severity {
  min-width: 60px !important;
  display: inline-block !important
}

/*</editor-fold>*/

/*<editor-fold desc="RESTYLE SELECT2">*/
.select2-results__message {
  display: none !important;
}

/*</editor-fold>*/
.width-1 {
  width: 1px !important;
}

.min-width-100 {
  min-width: 100px !important;
}

.min-width-150 {
  min-width: 150px !important;
}

.min-width-200 {
  min-width: 200px !important;
}

.min-width-250 {
  min-width: 250px !important;
}

.max-width-100 {
  max-width: 100px !important;
  word-wrap: break-word;
}

.max-width-150 {
  max-width: 150px !important;
  word-wrap: break-word;
}

.max-width-200 {
  max-width: 200px !important;
  word-wrap: break-word;
}

.max-width-250 {
  max-width: 250px !important;
  word-wrap: break-word;
}

.max-width-300 {
  max-width: 300px !important;
  word-wrap: break-word;
}

table td.text-fit, table th.text-fit {
  width: 1px !important;
  white-space: nowrap !important;
}

.bg-alarm-critical {
  background-color: rgba(244, 67, 54, 0.96);
}

.bg-alarm-major {
  background-color: rgba(232, 216, 48, 0.96);
}

.bg-alarm-minor {
  background-color: rgba(0, 175, 53, 0.96);
}

.text-alarm-critical {
  color: rgba(244, 67, 54, 0.99);
}

.text-alarm-major {
  color: rgba(232, 216, 48, 0.99);
}

.text-alarm-minor {
  color: rgba(0, 175, 53, 0.99);
}

.border-alarm-critical {
  border-color: rgba(244, 67, 54, 0.99);
}

.border-alarm-major {
  border-color: rgba(232, 216, 48, 0.99);
}

.border-alarm-minor {
  border-color: rgba(0, 175, 53, 0.99);
}

.not-allowed {
  cursor: not-allowed;
}

form.form-label-right .control-label {
  text-align: right !important;
}

.footer:not(.navbar-fixed-bottom) {
  z-index: 999 !important;
}

.dropdown-notification .dropdown-content-body {
  padding: 0 0 20px 0;
}

.dropdown-notification .dropdown-content-body .media {
  padding: 10px 5px 10px 20px;
  margin-top: 0;
  border-bottom: 1px solid #ddd;
}

.dropdown-notification .dropdown-content-body .media-active {
  background-color: #eee;
}

.dropdown-notification .dropdown-content-heading {
  border-bottom: 1px solid #ddd;
}

.myTitle{
  font-weight: bold;
  font-size: 16px;
}

.table-hover > tbody > tr:hover {
  background-color: #cec2c2 !important;
}

.tableModal{
  max-height: 450px;
 
}

.nowhitespace table td {
  word-wrap: break-word;
  white-space: normal !important;
}

table td {
  word-wrap: break-word;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
}

table th {
  text-align: center;
}

.tableIndex {
  max-height: 200px;
  overflow-x: hidden;
}

.tableIndex td > span {
 display: block;
  /* height: 100%;
  width: 100%;
  padding: 0; */
}

.tableIndex td { 
  /* text-align: center; */
  /* padding: 0 0 !important; */
}


/* .tableIndex table thead > tr > td {
  
  padding: 
} */

.wrappable {
  padding: 0 0 !important;
}

.tree-level {
  list-style: none;
}

.icon-non-stock-item {
  max-width: 12px;
    max-height: 12px;
    position: relative;
}

.icon-non-stock-item::before {
  content: "\ea47"
}


.icon-spare-part {
    max-width: 12px;
    max-height: 12px;
    position: relative;
}

.icon-spare-part:before {
    content: "\eb76";
}

.icon-text-rows {
  max-width: 12px;
  max-height: 12px;
  position: relative;
}

.icon-checked-rows {
  max-width: 12px;
  max-height: 12px;
  position: relative;
}

.icon-checked-rows::before {
  content:"\ee63"
}

.icon-unchecked-rows {
  max-width: 12px;
  max-height: 12px;
  position: relative;
}

.icon-unchecked-rows::before {
  content: "\ee64"
}

.icon-text-rows::before {
  content: "\ea1a"
}

.icon-labour-operation {
  max-width: 12px;
  max-height: 12px;
  position: relative;
}

.icon-labour-operation::before {
  content: "\eb7d";
}

.icon-sub-contractors {
  max-width: 12px;
  max-height: 12px;
  position: relative;
} 

.icon-sub-contractors::before {
  content: "\ea36"
}

.tree-level span {

}

.tree-level .checkbox {
  /* width: 12px;
  height: 22px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  -webkit-backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;  */
}

.tree-end {
  cursor: pointer;
}

.div-tree {
  overflow-y: scroll;
  /* max-height: 50%; */
  max-height: 600px;
}

.div-table {
	height: 600px;
}

.jobnew {
  overflow-y: scroll;
  max-height: 600px;
}


/* .heading-elements-toggle {
  cursor: pointer;
  display: block;
  line-height: 1;
  position: absolute;
  top: 50%;
  right: 0;
} */



@media (min-width: 769px) {
  .main-content {
     max-height: 600px;
     /* overflow-y: scroll; */
  }

  .heading-elements-toggle {
    display: none;
  }
}

@media (max-width: 768px) {

  

  .heading-elements {
    float: right !important;
  }

  .heading-elements:not(.not-collapsible) {
    display: inline;
  }

  .panel-title {
    /* width: 80% !important; */
  }

  .heading-elements:not(.visible-elements) .icons-list {
    margin-top: 0;
  }
}

@media (max-width: 1025px) {
  .main-content {
     max-height: 600px;
     /* overflow-y: scroll; */
  }
}

@media (max-width: 1200px) {
  .main-content {
     max-height: 600px;
     /* overflow-y: scroll; */
  }
}



