<link href="/sign.css" rel="stylesheet" type="text/css">
<div ng-controller="ReplacementCheckInCtrl">
<div ng-include="'/wsplanning/templates/pages/replacementVehicle/form.html'"></div>

<!--SEARCH-->
<div class="panel panel-white">
    <div class="panel-body">
        <div class="form-horizontal formValidate nowhitespace" name="checkinFrm" id="checkinFrm">
            <!--Row 1-->
            <div class="row">

                <!--Mileage-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'checkinMileage' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="Mileage" ng-model="WorkOrder.Mileage">
                        </div>
                    </div>
                </div>

                <!--fuel-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'fuel' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="WorkOrder.fuel"
                                    ng-options="item.Id as item.Name for item in fuelList">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 1-->

            <!--Row 2-->
            <div class="row">
                <!--checkinRemark-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'checkinRemark' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="checkinRemark" ng-model="WorkOrder.checkinRemark">
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 2-->

            <div class="row">
                <!--AttachmentType-->
                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'AttachmentType' | translate }}</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <select class="form-control" ng-model="WorkOrder.attachmentType" ng-change="changeAttType()"
                                        ng-options="item.Id as item.Name for item in attachmentTypes">
                                </select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="openImage()">
                                        <i class="icon-camera"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

            <div class="row">
                <!--Disclaimer-->
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="control-label col-xs-2">{{ 'Disclaimer' | translate }}</label>
                        <div class="col-xs-10">
                            <textarea style="min-height: 90px;" type="text" class="form-control" id="Disclaimer"
                                      ng-disabled="true" ng-model="WorkOrder.Disclaimer"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!--Row checkin-->
            <div class="row row-eq-height2">
<!--                <div class="col-md-8 col-xs-12" id="checkinTemplate">-->
<!--                    <div class="form-group" style="clear: both;">-->
<!--                        <div class="col-md-8 col-xs-8 col-xs-offset-4">-->
<!--                            <label class="radio-inline" style='color: green;'>-->
<!--                                <input type="radio" value="green" ng-model="color">{{ 'green' | translate }}</label>-->
<!--                            <label class="radio-inline" style='color: red;'>-->
<!--                                <input type="radio" value="red" ng-model="color">{{ 'red' | translate }}</label>-->
<!--                            <label class="radio-inline" style='color: orange;'>-->
<!--                                <input type="radio" value="orange" ng-model="color">{{ 'orange' | translate }}</label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

                    <!-- Anh -->
                    <div class="col-md-6 col-xs-12" id="attachmentTmp">
                        <img class="canvas" style="max-height: 400px;max-width: 600px;" ng-src="{{imgTemplate}}">
                    </div>

                    <!-- Chu ky -->
                    <div class="col-md-6 col-xs-12">
                        <div class="container"
                             ng-style="{'max-width': boundingBox.width + 'px', 'max-height': boundingBox.height + 'px'}">
                            <signature-pad id="signature-canvas" accept="accept" clear="clearSign"
                                           ng-model="signature" color="{{color}}"
                                           height="{{boundingBox.height - 20 }}" width="{{boundingBox.width - 30}}"
                                           dataurl="dataurl"></signature-pad>


                            <div class="sizes">
                                <button ng-click="clearSign()" id="clearSign"
                                        title="{{ 'clear' | translate }}">
                                    <i class="icon-paint-format"></i>{{ 'clear' | translate }}</span>
                                </button>
                            </div>
                        </div>
                    </div>
            </div>
            <!--end row checkin-->
        </div>
    </div>

    <button id="btnUpdateColor" style="display: none;" ng-click="templateDraw = acceptTemplate();signature = accept();"></button>
    <div class="panel-footer" style="text-align: center;">
            <button type="button" class="btn btn-icon btn-primary btnSubmit"
                    ng-click="signature = accept();templateDraw = acceptTemplate();onSubmitForm()">
                <i class="icon-checkmark3"></i>{{ 'btnSave' | translate }}</span>
            </button>
    </div>
</div>
<!--SEARCH-->

</div>

<style type="text/css">
    #attachmentTmp{
        text-align: center;
        max-height: 400px;
        min-height: 316px;
        border: 1px;
        border: 1px solid #999;
        padding: 20px;
    }
</style>