<!--SEARCH-->
<div class="panel panel-white" ng-controller="ReplacementVehicleCtrl">
    <div class="panel-body">
        <div class="form-horizontal formValidate nowhitespace" name="replacementVehicleFrm" id="replacementVehicleFrm">
            <!--Row 1-->
            <div class="row">

                <!--WO-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'wo' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="wo"
                                   ng-model="WorkOrder.wo ">
                        </div>
                    </div>
                </div>

                <!--Group-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'group' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="WorkOrder.group"
                                    ng-options="item.Id as item.Name for item in lstGroup">
                            </select>
                        </div>
                    </div>
                </div>

                <!--Vehicle-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'vehicle' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="WorkOrder.vehicle"
                                    ng-options="item.Id as item.Name for item in lstVehicle">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 1-->
        </div>
    </div>
</div>
<!--SEARCH-->