<!--SEARCH-->
<div class="panel panel-white">
    <div class="panel-body">
        <div class="form-horizontal formValidate nowhitespace" name="replacementVehicleFrm" id="replacementVehicleFrm">
            <!--Row 1-->
            <div class="row">

                <!--WO-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'wo' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="WorkOrderNo" ng-model="WorkOrder.WorkOrderNo"
                                   code="13" dl-key-code="getCCResByWO();">
                        </div>
                    </div>
                </div>

                <!--Group-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'group' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="WorkOrder.group"
                                    ng-options="item.Id as item.Name for item in lstGroup"
                                    ng-change="onChangeGroup()">
                            </select>
                        </div>
                    </div>
                </div>

                <!--Vehicle-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'vehicle' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="WorkOrder.vehicle"
                                    ng-options="item.VehiId as item.LicenseNo for item in lstVehicle"
                                    ng-change="onChangeVehicle()">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 1-->

            <!--Row 2-->
            <div class="row">
                <div class="col-xs-12" style="height: 100%;">
                    <div class="row row-eq-height" style="max-height: 100%;">
                        <div class="col-xs-6 col-md-6 border">
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">{{ 'custNo' | translate }}</label>
                                    <div class="col-xs-8">
                                        <input type="text" class="form-control"  ng-model="WorkOrder.CustNo" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">{{ 'Contact Info' | translate }}</label>
                                    <div class="col-xs-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control"  ng-model="WorkOrder.FName" disabled>
                                            <input type="text" class="form-control"  ng-model="WorkOrder.LName" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-6 col-md-6 border">
                            <!--Fromdate-->
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">{{ 'fromDate' | translate }}</label>
                                    <div class="col-xs-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" datetime-picker="dd-MMMM-yyyy HH:mm:ss"
                                                   date-format="dd-MMMM-yyyy HH:mm:ss" ng-model="params.from"
                                                   is-open="popupFromDate.opened" disabled/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" disabled ng-click="openFromDate()">
                                                        <i class="icon-calendar"></i>
                                                    </button>
                                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--toDate-->
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="control-label col-xs-4">{{ 'toDate' | translate }}</label>
                                    <div class="col-xs-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" datetime-picker="dd-MMMM-yyyy HH:mm:ss"
                                                   date-format="dd-MMMM-yyyy HH:mm:ss" ng-model="params.to"
                                                   is-open="popupToDate.opened" ng-required="true" disabled/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" disabled ng-click="openToDate()">

                                                    <i class="icon-calendar"></i>
                                                </button>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 2-->

            <div class="row">
                <div class="form-group" style="clear: both;">
                    <div class="col-md-8 col-xs-8 col-xs-offset-4">
                        <span ng-repeat="item in actionList">
                            <label class="radio-inline" style='color: green;'>
                            <input type="radio" value="{{item.action}}" ng-model="WorkOrder.action" ng-change="changeAction()">{{ item.name }}</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SEARCH-->