<!--SEARCH-->
<div class="panel panel-white">
    <div class="panel-body">
        <div class="form-horizontal formValidate nowhitespace" name="replacementVehicleFrm" id="replacementVehicleFrm">
            <!--Row 1-->
            <div class="row">

                <!--WO-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'wo' | translate }}</label>
                        <div class="col-xs-8">
                            <input type="text" class="form-control" id="WorkOrderNo" ng-model="WorkOrder.WorkOrderNo">
                        </div>
                    </div>
                </div>

                <!--Group-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'group' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="WorkOrder.group"
                                    ng-options="item.Id as item.Name for item in lstGroup">
                            </select>
                        </div>
                    </div>
                </div>

                <!--Vehicle-->
                <div class="col-xs-4">
                    <div class="form-group">
                        <label class="control-label col-xs-4">{{ 'vehicle' | translate }}</label>
                        <div class="col-xs-8">
                            <select class="form-control" ng-model="WorkOrder.vehicle"
                                    ng-options="item.Id as item.Name for item in lstVehicle">
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--end row 1-->

            <div class="row">
                <div class="form-group" style="clear: both;">
                    <div class="col-md-8 col-xs-8 col-xs-offset-4">
                        <span ng-repeat="item in actionList">
                            <label class="radio-inline" style='color: green;'>
                            <input type="radio" value="{{item.action}}" ng-model="WorkOrder.action" ng-change="changeAction()">{{ item.name }}</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--SEARCH-->