<div ng-include="'/wsplanning/templates/pages/replacementVehicle/page-header.html'"></div>


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <div ng-include="'/wsplanning/templates/pages/replacementVehicle/form.html'"></div>

            <div ng-include="'/wsplanning/templates/pages/replacementVehicle/checkin.html'"></div>

        </div>
     
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->