<div class="col-xs-12">
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title"><span>{{$ctrl.title}}</span></h5>

        </div>

        <div class="panel-body">
            <form class="form-horizontal form-search row">
                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <div class="form-group">
                            <label class="control-label col-xs-4">{{ 'duration' | translate }}</label>
                            <div class="col-xs-8">
                                <input type="text" class="form-control" ng-model="$ctrl.obj.duration" id="durationPool"
                                       placeholder="{{ 'duration' | translate }}">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="modal-footer position-right">
            <button type="button" ng-click="$ctrl.save()"
                    class="btn btn-icon btn-primary btnSubmit">
                <i class="icon-checkmark3"></i>{{ 'btnSave' | translate }}</span>
            </button>
            <a class="btn btn-default" ng-click="$ctrl.cancel()">{{ 'btnCancel' | translate }}</a>
        </div>
    </div>
</div>