<div ng-include="'/wsplanning/templates/pages/workSub/page-header.html'"></div>


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!--SEARCH-->
            <div ng-include="'/wsplanning/templates/pages/search_wo.html'"></div>
            <!--SEARCH-->

            <!-- Panel content -->
            <div class="panel panel-flat" style="margin-bottom: 0px;">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">

                        <!--BODY-->
                        <tbody>
                            <tr ng-repeat="item in lstData" ng-dblclick="viewDetail(item)">
                                <td style="width: 20%;">
                                    {{item.ServiceDate | date:'dd-MMMM-yyyy HH:mm:ss'}}<br />
                                    <span class="{{item.WorkOrderStatus| titleCase}}">{{item.WorkOrderStatus}}<br /></span>
                                    {{item.WorkOrderNo}}<br />
                                </td>
                                <td ng-bind-html="showLeftCol(item)"></td>
                            </tr>
                            <tr ng-if="isNoData || !lstData || lstData.length <= 0" class="active">
                                <td colspan="20" class="text-center">{{ 'commonNoResult' | translate }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-footer text-right" style="padding-right: 25px;">

                    <!-- Paging elements -->
                    <form class="form-inline formPaging formValidate">
                        <div class="form-group">
                            {{totalElements | number}} <span class="text-lowercase">{{ 'item' | translate }}</span>
                        </div>
                        <div class="form-group" style="border-left: 1px solid #ddd">
                            <ul class="pagination-flat pagination-rounded" uib-pagination total-items="totalElements"
                                items-per-page="limit" max-size="2" ng-model="page" boundary-links="true"
                                boundary-link-numbers="true" force-ellipses="true" rotate="true" previous-text="&lsaquo;"
                                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                        <div class="form-group">
                            <input type="number" name="page" ng-model="pageGo" placeholder="{{ 'page' | translate }}"
                                class="form-control validatePositiveInteger" min="1" max="{{(totalElements / limit) | ceil}}"
                                style="width: 55px">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">{{ 'go' | translate }}</button>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="limit" ng-change="changeLimit()" convert-to-number>
                                <option value="1">1</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select>
                            <span>{{ 'limit' | translate }}</span>
                        </div>
                    </form>
                    <!-- /paging element -->

                </div>
            </div>
            <!-- /panel content -->

            <!-- Modal replace-->
            <div ng-include="'/wsplanning/templates/pages/workSub/modal-delete.html'"></div>
            <!-- /modal replace-->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->